@model Memorial.ViewModels.MiscellaneousItemIndexesViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.MiscellaneousItemName</h2>

@if (Model.AllowNew)
{
    <p>
        @Html.ActionLink(Resources.Mix.New, "Form", new { itemId = Model.MiscellaneousItemId, applicantId = Model.ApplicantId, area = "Miscellaneous" })
    </p>
}

@using (Html.BeginForm("Index", "Donations", new { area = "Miscellaneous" }))
{
    <p>
        Find by Name: @Html.TextBox("filter")
        @Html.Hidden("itemId", Model.MiscellaneousItemId.ToString())
        @Html.Hidden("applicantId", Model.ApplicantId.ToString())
        <input type="submit" value=@Html.Raw(Resources.Mix.Search) class="btn btn-secondary" />
    </p>
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.AFBR)</th>
            <th>@Html.Raw(Resources.Mix.ApplicantBR)</th>
            <th>@Html.Raw(Resources.Mix.AmountBR)</th>
            <th>@Html.Raw(Resources.Mix.RemarkBR)</th>
            <th>@Html.Raw(Resources.Mix.CreateDateBR)</th>
            <th>@Html.Raw(Resources.Mix.ReceiptBR)</th>
            <th>@Html.Raw(Resources.Mix.Edit)</th>
            <th>@Html.Raw(Resources.Mix.Delete)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var miscellaneousTransaction in Model.MiscellaneousTransactionDtos)
        {
            <tr>
                <td>@miscellaneousTransaction.AF</td>
                <td>@miscellaneousTransaction.ApplicantDto.Name &nbsp; @miscellaneousTransaction.ApplicantDto.Name2</td>
                <td>@miscellaneousTransaction.Amount</td>
                <td>@miscellaneousTransaction.Remark</td>
                <td>@miscellaneousTransaction.CreateDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@Html.ActionLink(Resources.Mix.Receipt, "Receipts", new { AF = miscellaneousTransaction.AF, area = "Miscellaneous" })</td>
                <td>@Html.ActionLink(Resources.Mix.Edit, "Form", new { AF = miscellaneousTransaction.AF, itemId = miscellaneousTransaction.MiscellaneousItemDtoId, applicantId = Model.ApplicantId, area = "Miscellaneous" })</td>
                <td>
                    @Html.ActionLink(Resources.Mix.Delete, "Delete",
                    new { AF = miscellaneousTransaction.AF, itemId = miscellaneousTransaction.MiscellaneousItemDtoId, applicantId = Model.ApplicantId, area = "Miscellaneous" },
                    new { @class = "btn btn-danger btn-sm", onclick = "return confirm(MEMORIAL_CONFIRM);" })
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.MiscellaneousTransactionDtos.PageCount < Model.MiscellaneousTransactionDtos.PageNumber ? 0 : Model.MiscellaneousTransactionDtos.PageNumber) of @Model.MiscellaneousTransactionDtos.PageCount
@Html.PagedListPager(Model.MiscellaneousTransactionDtos, page => Url.Action("Index",
    new { page, itemId = Model.MiscellaneousItemId.ToString(), applicantId = Model.ApplicantId.ToString(), filter = ViewBag.CurrentFilter }))
