@model Memorial.ViewModels.SpaceTransactionsInfoViewModel
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Print.cshtml";
}

@if (!Model.ExportToPDF)
{
    @Html.ActionLink("Print All", "PrintAll", new { AF = Model.SpaceTransactionDto.AF })
}

@Html.Raw(Model.Header)

<div class="row flexrow">
    <div class="col-md-3" style="text-align:left">
        <span>Transaction Date</span><br />
        <span data-utcDate="@Model.SpaceTransactionDto.CreatedUtcTime.ToString("yyyy-MM-dd HH:mm")"></span>
    </div>
    <div class="col-md-6" style="text-align:center">
        @Model.SpaceDto.Name 租借表格<br />Application Form
    </div>
    <div class="col-md-3" style="text-align:right">
        @Model.SpaceTransactionDto.AF
    </div>
</div>

@{Html.RenderAction("Info", "ApplicantDeceaseds", new { applicantId = Model.ApplicantId, deceasedId = Model.DeceasedId, area = "ApplicantDeceaseds" });}

@if (Model.SpaceTransactionDto.FuneralCompanyDto != null)
{
    <div class="row flexrow">
        <div class="col-md-2">
            @Html.Raw(Resources.Mix.FuneralCompanyBR)
        </div>
        <div class="col-md-2" style="text-align:center">
            @Model.SpaceTransactionDto.FuneralCompanyDto.Name
        </div>
        <div class="col-md-2">
            @Html.Raw(Resources.Mix.ContactNameBR)
        </div>
        <div class="col-md-2" style="text-align:center">
            @Model.SpaceTransactionDto.FuneralCompanyDto.ContactPerson
        </div>
        <div class="col-md-2">
            @Html.Raw(Resources.Mix.ContactNumberBR)
        </div>
        <div class="col-md-2" style="text-align:center">
            @Model.SpaceTransactionDto.FuneralCompanyDto.ContactNumber
        </div>
    </div>
}

<p>
    今將具屍體暫租借貴殯儀館停櫃 @Model.TotalDays 天，以便辦理喪事，對貴殯儀館一切收費均願負者清還，倘該屍來歷不明或有任何意外事情發生而受政府乾涉等事情，概由本號/本人負者承擔。
    本人借用貴義山積善堂前面空地草場焚燒靈屋及冥紙等物，本人知悉有關政府當局所頒佈之各種環保條例，如有任何觸犯到當局規定之污染環境條例，如傅票或任何罰款一概由本人負起全責，有關罰款由本人繳付之，恐口無憑，特立此字為據。
</p>

<div class="row flexrow">
    <div class="col-md-12 text-center">
        立字日期 @Model.SpaceTransactionDto.FromDate.Value.ToString("yyyy-MMM-dd HH:mm") 起租
    </div>
</div>

<div class="row flexrow">
    <div class="col-md-12 text-center">
        訂於 @Model.SpaceTransactionDto.ToDate.Value.ToString("yyyy-MMM-dd HH:mm") 退租
    </div>
</div>

<p>
    @Html.Raw(Resources.Mix.ParkingNote)
</p>


<div class="row flexrow">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.DailyRentalBR)
    </div>
    <div class="col-md-3">
        RM @Model.SpaceTransactionDto.BasePrice x @Model.TotalDays 天
    </div>
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.OtherChargesBR)
    </div>
    <div class="col-md-3">
        RM @Model.SpaceTransactionDto.OtherCharges
    </div>
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.DonationBR)
    </div>
    <div class="col-md-3">
        RM @Model.TotalAmount
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.RemarkBR)
    </div>
    <div class="col-md-3">
        @Model.SpaceTransactionDto.Remark
    </div>
</div>



