@model Memorial.ViewModels.ColumbariumTransactionsFormViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("ApplicantBrief", "Applicants", new { id = Model.ColumbariumTransactionDto.ApplicantDtoId, area = "Applicant" });}

<h2>@Html.Raw(Resources.Mix.Form)</h2>

@using (Html.BeginForm("Save", "Transfers", new { area = "Columbarium" }))
{
    @Html.DisplayTextFor(a=>a.ColumbariumTransactionDto.AF)

    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.ApplicantBR)
        </div>
        <div class="col-md-6">
            @Model.ColumbariumTransactionDto.NicheDto.Applicant.Name &nbsp;
            @Model.ColumbariumTransactionDto.NicheDto.Applicant.Name2
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-9">
            @Html.Raw(Resources.Mix.TransferToBR)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.NewApplicantBR)
        </div>
        <div class="col-md-6">
            @Model.ColumbariumTransactionDto.ApplicantDto.Name &nbsp;
            @Model.ColumbariumTransactionDto.ApplicantDto.Name2
            @Html.ValidationMessageFor(a => a.ColumbariumTransactionDto.ApplicantDto.Name)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.PriceBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.ColumbariumTransactionDto.Price, new { @class = "form-control", @required = Resources.Mix.Required })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.RemarkBR)
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(c => c.ColumbariumTransactionDto.Remark, new { @class = "form-control" })
        </div>
    </div>

    @Html.HiddenFor(c => c.ColumbariumTransactionDto.ColumbariumItemDtoId)
    @Html.HiddenFor(c => c.ColumbariumTransactionDto.NicheDtoId)
    @Html.HiddenFor(c => c.ColumbariumTransactionDto.ApplicantDtoId)
    @Html.HiddenFor(c => c.ColumbariumTransactionDto.AF)
    @Html.HiddenFor(c => c.ColumbariumTransactionDto.TransferredFromApplicantId)
    <button type="submit" class="btn btn-primary">@Html.Raw(Resources.Mix.Save)</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/jqueryuicss")

}
