@model Memorial.ViewModels.ColumbariumTransactionsFormViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink(Model.ColumbariumCentreDto.SiteDto.Name, "Catalog", "Menu", new { siteId = Model.ColumbariumCentreDto.SiteDto.Id, applicantId = Model.ColumbariumTransactionDto.ApplicantDtoId, area = "Menu" }, null) >
@Html.ActionLink(Resources.Mix.Columbarium, "Index", "Columbariums", new { siteId = Model.ColumbariumCentreDto.SiteDto.Id, applicantId = Model.ColumbariumTransactionDto.ApplicantDtoId, area = "Columbarium" }, null) >
@Html.ActionLink(Model.ColumbariumCentreDto.Name, "Area", "Columbariums", new { centreId = Model.ColumbariumCentreDto.Id, applicantId = Model.ColumbariumTransactionDto.ApplicantDtoId, area = "Columbarium" }, null) >
@Html.ActionLink(Model.NicheDto.ColumbariumAreaDto.Name, "Niches", "Columbariums", new { centreId = Model.ColumbariumCentreDto.Id, applicantId = Model.ColumbariumTransactionDto.ApplicantDtoId, area = "Columbarium" }, null) >
@Html.ActionLink(Model.NicheDto.Name, "Items", "Columbariums", new { id = Model.NicheDto.Id, applicantId = Model.ColumbariumTransactionDto.ApplicantDtoId, area = "Columbarium" }, null)

@{Html.RenderAction("ApplicantBrief", "Applicants", new { id = Model.ColumbariumTransactionDto.ApplicantDtoId, area = "Applicant" });}

<h2>@Html.Raw(Resources.Mix.Form)</h2>

@using (Html.BeginForm("Save", "Photos", new { area = "Columbarium" }))
{
    @Html.LabelFor(c => c.ColumbariumTransactionDto.AF)
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.PriceBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.ColumbariumTransactionDto.Price, new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(c => c.ColumbariumTransactionDto.Price)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.Text1BR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.ColumbariumTransactionDto.Text1, new { @class = "form-control", @required = "required" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.Text2BR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.ColumbariumTransactionDto.Text2, new { @class = "form-control", @required = "required" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.Text3BR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.ColumbariumTransactionDto.Text3, new { @class = "form-control", @required = "required" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.RemarkBR)
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(c => c.ColumbariumTransactionDto.Remark, new { @class = "form-control" })
        </div>
    </div>

    @Html.HiddenFor(c => c.ColumbariumTransactionDto.ColumbariumItemDtoId)
    @Html.HiddenFor(c => c.ColumbariumTransactionDto.NicheDtoId)
    @Html.HiddenFor(c => c.ColumbariumTransactionDto.ApplicantDtoId)
    @Html.HiddenFor(c => c.ColumbariumTransactionDto.AF)
    <button type="submit" class="btn btn-primary">@Html.Raw(Resources.Mix.Save)</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/jqueryuicss")

    <script type="text/javascript">

        $(document).ready(function () {

            $.validator.addMethod("AtLeastZero", function (value, element, arg) {
                if (value >= 1)
                    return true;
                return false;
            }, MEMORIAL_AT_LEAST_ONE);

            $("#ColumbariumTransactionDto_Price").rules("add",
                {
                    AtLeastOne: true
                });
        });
    </script>

}
