@model Memorial.ViewModels.AppplicantDeceasedsInfoViewModel

<h5 style="padding-top:5px"><u>@Html.Raw(Resources.Mix.Applicant)</u></h5>
@if (Model.ApplicantId == null)
{
    <div>@Html.Raw(Resources.Mix.NoRecord)</div>
}
else
{
    Html.RenderAction("PartialViewInfo", "Applicants", new { id = Model.ApplicantId, area = "Applicant" });
}


<div class="row flexrow">
    <div class="col-md-1">
    @Html.Raw(Resources.Mix.RelationshipBR)
    </div>
    <div class="col-md-11">
    @if (Model.DeceasedId == null)
    {
        <div>@Html.Raw(Resources.Mix.NoRecord)</div>
    }
    else
    {
        @Model.RelationshipTypeName
    }
    </div>
</div>


<h5 style="padding-top:5px"><u>@Html.Raw(Resources.Mix.Deceased)</u></h5>
@if (Model.DeceasedId == null)
{
    <div>@Html.Raw(Resources.Mix.NoRecord)</div>
}
else
{
    Html.RenderAction("PartialViewInfo", "Deceaseds", new { id = Model.DeceasedId, area = "Deceased" });
}
