@model Memorial.Core.Dtos.SiteDto
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Site</h2>

<form id="form">
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.NameBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(s => s.Name, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(s => s.Name)
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.CodeBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(s => s.Code, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(s => s.Code)
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.AddressBR)
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(s => s.Address, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.RemarkBR)
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(s => s.Remark, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            Header
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(s => s.Header, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(s => s.Header)
        </div>
    </div>

    @Html.HiddenFor(s => s.Id)
    <button class="btn btn-primary" id="save">@Html.Raw(Resources.Mix.Save)</button>
</form>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            $.validator.addMethod("mustThreeCharacters", function (value, element, arg) {
                if (value.length != 3)
                    return false;
                return true;
            }, "Must 3 characters");

            $("#Code").rules("add",
            {
                mustThreeCharacters: true
            });

            $('#save').click(function (e) {
                e.preventDefault();
                if ($("#form").valid()) {
                    var vm = {
                        id: $("#Id").val(),
                        name: $("#Name").val(),
                        code: $("#Code").val(),
                        address: $("#Address").val(),
                        remark: $("#Remark").val(),
                        header: $("#Header").val()
                    };
                    var verb = "";
                    var url = "/api/sites";
                    if ($("#Id").val() == 0) {
                        verb = "post";
                    }
                    else {
                        verb = "put";
                        url = url + "/" + $("#Id").val();
                    }

                    $.ajax({
                        url: url,
                        method: verb,
                        data: vm
                    })
                    .done(function (data) {
                        toastr.success(MEMORIAL_SUCCESS);
                        if (verb == "post") {
                            setTimeout(function () {
                                window.location.href = window.location.href + '/' + data.id;
                            }, 1000);
                        }
                    })
                    .fail(function () {
                        toastr.error(MEMORIAL_UNEXPECTED_HAPPENED);
                    });

                    return false;
                }
            });

        });</script>
}


