@model Memorial.ViewModels.AncestralTabletTransactionsInfoViewModel
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.ExportToPDF)
{
    @Html.ActionLink("Print All", "PrintAll", new { AF = Model.AncestralTabletTransactionDto.AF })
}

@Html.Raw(Model.Header)

<div class="row flexrow">
    <div class="col-md-3" style="text-align:left">
        <span>Transaction Date</span><br />
        <span>@Model.AncestralTabletTransactionDto.CreatedDate.ToString("yyyy-MMM-dd")</span>
    </div>
    <div class="col-md-6" style="text-align:center">
        @Html.Raw(Resources.Mix.AncestralTabletApplicationFormBR)
    </div>
    <div class="col-md-3" style="text-align:right">
        @Model.AncestralTabletTransactionDto.AF
    </div>
</div>

@{Html.RenderAction("Info", "ApplicantDeceaseds", new { applicantId = Model.ApplicantId, deceasedId = Model.AncestralTabletTransactionDto.DeceasedDtoId, area = "ApplicantDeceaseds" });}

<h5 style="padding-top:5px"><u>@Model.ItemName</u></h5>

<div class="row flexrow">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.No_BR)
    </div>
    <div class="col-md-3">
        @Model.AncestralTabletTransactionDto.AncestralTabletDto.Name
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.FromBR)
    </div>
    <div class="col-md-3">
        @Model.AncestralTabletTransactionDto.FromDate
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.ToBR)
    </div>
    <div class="col-md-3">
        @Model.AncestralTabletTransactionDto.ToDate
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.MaintenanceFeesBR)
    </div>
    <div class="col-md-3">
        @Model.AncestralTabletTransactionDto.Maintenance
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.RemarkBR)
    </div>
    <div class="col-md-3">
        @Model.AncestralTabletTransactionDto.Remark
    </div>
</div>

