@model Memorial.ViewModels.AncestralTabletItemIndexesViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.AncestralTabletItemName</h2>

@if (Model.AllowNew)
{
    <p>
        @Html.ActionLink(Resources.Mix.New, "Form", new { itemId = Model.AncestralTabletItemId, applicantId = Model.ApplicantId, id = Model.AncestralTabletId, area = "AncestralTablet" })
    </p>
}

@using (Html.BeginForm("Index", "Orders", new { area = "AncestralTablet" }))
{
    <p>
        Find by Name: @Html.TextBox("filter")
        @Html.Hidden("itemId", Model.AncestralTabletItemId.ToString())
        @Html.Hidden("applicantId", Model.ApplicantId.ToString())
        @Html.Hidden("id", Model.AncestralTabletId.ToString())
        <input type="submit" value=@Html.Raw(Resources.Mix.Search) class="btn btn-secondary" />
    </p>
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.AFBR)</th>
            <th>@Html.Raw(Resources.Mix.AncestralTabletBR)</th>
            <th>@Html.Raw(Resources.Mix.ApplicantBR)</th>
            <th>@Html.Raw(Resources.Mix.HasDeceasedBR)</th>
            <th>@Html.Raw(Resources.Mix.CreateDateBR)</th>
            <th>@Html.Raw(Resources.Mix.EditBR)</th>
            <th>@Html.Raw(Resources.Mix.DeleteBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ancestralTabletTransaction in Model.AncestralTabletTransactionDtos)
        {
            <tr>
                <td>@Html.ActionLink(ancestralTabletTransaction.AF, "Info", new { AF = ancestralTabletTransaction.AF }, new { target = "AncestralTabletTransactionInfo", area = "AncestralTablet" })</td>
                <td>@ancestralTabletTransaction.AncestralTablet.Name</td>
                <td>@ancestralTabletTransaction.Applicant.Name &nbsp; @ancestralTabletTransaction.Applicant.Name2</td>
                <td>@ancestralTabletTransaction.AncestralTablet.hasDeceased</td>
                <td>@ancestralTabletTransaction.CreateDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@Html.ActionLink(Resources.Mix.Edit, "Form", new { AF = ancestralTabletTransaction.AF, applicantId = Model.ApplicantId, area = "AncestralTablet" })</td>
                <td>
                    @Html.ActionLink(Resources.Mix.Delete, "Delete",
                    new { AF = ancestralTabletTransaction.AF, itemId = Model.AncestralTabletItemId, id = Model.AncestralTabletId, applicantId = Model.ApplicantId, area = "AncestralTablet" },
                    new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are you sure?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.AncestralTabletTransactionDtos.PageCount < Model.AncestralTabletTransactionDtos.PageNumber ? 0 : Model.AncestralTabletTransactionDtos.PageNumber) of @Model.AncestralTabletTransactionDtos.PageCount
@Html.PagedListPager(Model.AncestralTabletTransactionDtos, page => Url.Action("Index",
    new { page, id = Model.AncestralTabletId.ToString(), itemId = Model.AncestralTabletItemId.ToString(), applicantId = Model.ApplicantId.ToString(), filter = ViewBag.CurrentFilter }))



