@model Memorial.ViewModels.NicheDeceasedsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Save", "NicheDeceaseds", new { area = "Columbarium" }))
{
    <div class="form-group row">
        <div class="col-md-2">
            Name
        </div>
        <div class="col-md-2">
            @Model.NicheDto.Name
        </div>
        <div class="col-md-2">
            Description
        </div>
        <div class="col-md-2">
            @Model.NicheDto.Description
        </div>
        <div class="col-md-2">
            Type
        </div>
        <div class="col-md-2">
            @Model.NicheDto.NicheTypeDto.Name
        </div>
    </div>
    <hr />
    <h5>Owner</h5>
    if (Model.ApplicantDto == null)
    {
        <div>no owner</div>
    }
    else
    {
        <div class="form-group row">
            <div class="col-md-3">
                English Name
            </div>
            <div class="col-md-3">
                @Html.ActionLink(Model.ApplicantDto.Name, "Info", "Applicants", new { id = Model.ApplicantDto.Id }, null)
            </div>
            <div class="col-md-3">
                Chinese Name
            </div>
            <div class="col-md-3">
                @Model.ApplicantDto.Name2
            </div>
        </div>
        if (Model.NumberOfPlacements == 1)
        {
            <h5>Deceased</h5>
        }
        else
        {
            <h5>Deceased1</h5>
        }
        if (Model.DeceasedFlatten1Dto == null)
        {
            @Html.DropDownListFor(q => q.Deceased1Id, new SelectList(Model.AvailableDeceaseds, "Id", "Name"), "Please Select", new { @class = "form-control" })
            @Html.ValidationMessageFor(q => q.Deceased1Id)
        }
        else
        {
            <div class="form-group row">
                <div class="col-md-1">
                    English Name
                </div>
                <div class="col-md-2">
                    @Html.ActionLink(Model.DeceasedFlatten1Dto.DeceasedName, "Info", "Deceaseds", new { id = Model.DeceasedFlatten1Dto.DeceasedId }, null)
                </div>
                <div class="col-md-1">
                    Chinese Name
                </div>
                <div class="col-md-2">
                    @Model.DeceasedFlatten1Dto.DeceasedName2
                </div>
                <div class="col-md-2">
                    Relationship
                </div>
                <div class="col-md-2">
                    @Model.DeceasedFlatten1Dto.RelationshipTypeName
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("Remove", "Remove", "NicheDeceaseds", new { id = Model.NicheDto.Id, deceasedId = Model.DeceasedFlatten1Dto.DeceasedId }, null)
                </div>
            </div>
        }
        if (Model.NumberOfPlacements == 2)
        {
            <h5>Deceased2</h5>
            if (Model.DeceasedFlatten2Dto == null)
            {
                @Html.DropDownListFor(q => q.Deceased2Id, new SelectList(Model.AvailableDeceaseds, "Id", "Name"), "Please Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(q => q.Deceased2Id)
            }
            else
            {
                <div class="form-group row">
                    <div class="col-md-1">
                        English Name
                    </div>
                    <div class="col-md-1">
                        @Html.ActionLink(Model.DeceasedFlatten2Dto.DeceasedName, "Info", "Deceaseds", new { id = Model.DeceasedFlatten2Dto.DeceasedId }, null)
                    </div>
                    <div class="col-md-2">
                        Chinese Name
                    </div>
                    <div class="col-md-2">
                        @Model.DeceasedFlatten2Dto.DeceasedName2
                    </div>
                    <div class="col-md-2">
                        Relationship
                    </div>
                    <div class="col-md-2">
                        @Model.DeceasedFlatten2Dto.RelationshipTypeName
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("Remove", "Remove", "NicheDeceaseds", new { id = Model.NicheDto.Id, deceasedId = Model.DeceasedFlatten2Dto.DeceasedId }, null)
                    </div>
                </div>
            }
        }
    }
    <div class="form-group row">
        <div class="col-md-6">
            @Html.HiddenFor(qd => qd.NicheDto.Id)
            @Html.HiddenFor(qd => qd.Deceased1Id)
            @Html.HiddenFor(qd => qd.Deceased2Id)
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
}