@model Memorial.ViewModels.CremationIndexesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Raw(Resources.Mix.Cremation)</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.NameBR)</th>
            <th>@Html.Raw(Resources.Mix.DescriptionBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cremation in Model.CremationDtos)
        {
            <tr>
                <td>@Html.ActionLink(cremation.Name, "Items", new { cremationId = cremation.Id, applicantId = Model.ApplicantId, area = "Cremation" })</td>
                <td>@cremation.Description</td>
            </tr>
        }
    </tbody>
</table>
