@model Memorial.ViewModels.CremationItemsViewModel
@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.ApplicantId != 0)
{
    Html.RenderAction("Index", "ApplicantDeceaseds", new { id = Model.ApplicantId, area = "ApplicantDeceaseds" });
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.NameBR)</th>
            <th>@Html.Raw(Resources.Mix.DescriptionBR)</th>
            <th>@Html.Raw(Resources.Mix.PriceBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cremationItem in Model.CremationItemDtos)
        {
            <tr>
                <td>@Html.ActionLink(cremationItem.SubProductServiceDto.Name, "Index", cremationItem.SubProductServiceDto.SystemCode, new { itemId = cremationItem.Id, applicantId = Model.ApplicantId, area = "Cremation" }, null)</td>
                <td>@cremationItem.SubProductServiceDto.Description</td>
                <td>@cremationItem.Price</td>
            </tr>
        }
    </tbody>
</table>