@model Memorial.ViewModels.ColumbariumCentreIndexesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink(Model.SiteDto.Name, "Catalog", "Menu", new { siteId = Model.SiteDto.Id, applicantId = Model.ApplicantId, area = "Menu" }, null) >
@Html.ActionLink(Resources.Mix.Columbarium, "Index", "Columbariums", new { siteId = Model.SiteDto.Id, applicantId = Model.ApplicantId, area = "Columbarium" }, null)

<h2>@Html.Raw(Resources.Mix.Centre)</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.NameBR)</th>
            <th>@Html.Raw(Resources.Mix.DescriptionBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var columbariumCentre in Model.ColumbariumCentreDtos)
        {
            <tr>
                <td>@Html.ActionLink(columbariumCentre.Name, "Area", new { centreId = columbariumCentre.Id, applicantId = Model.ApplicantId, area = "Columbarium" })</td>
                <td>@columbariumCentre.Description</td>
            </tr>
        }
    </tbody>
</table>

<h4>@Html.Raw(Resources.Mix.RecentApplicationRecord)</h4>
@{Html.RenderAction("Recent", "Columbariums", new { area = "Columbarium", siteId = Model.SiteDto.Id, applicantId = Model.ApplicantId });}

