@model Memorial.ViewModels.ColumbariumItemsViewModel
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink(Model.ColumbariumCentreDto.SiteDto.Name, "Catalog", "Menu", new { siteId = Model.ColumbariumCentreDto.SiteDto.Id, applicantId = Model.ApplicantId, area = "Menu" }, null) >
@Html.ActionLink(Resources.Mix.Columbarium, "Index", "Columbariums", new { siteId = Model.ColumbariumCentreDto.SiteDto.Id, applicantId = Model.ApplicantId, area = "Columbarium" }, null) >
@Html.ActionLink(Model.ColumbariumCentreDto.Name, "Area", "Columbariums", new { centreId = Model.ColumbariumCentreDto.Id, applicantId = Model.ApplicantId, area = "Columbarium" }, null) >
@Html.ActionLink(Model.NicheDto.ColumbariumAreaDto.Name, "Niches", "Columbariums", new { areaId = Model.NicheDto.ColumbariumAreaDto.Id, applicantId = Model.ApplicantId, area = "Columbarium" }, null) >
@Html.ActionLink(Model.NicheDto.Name, "Items", "Columbariums", new { id = Model.NicheDto.Id, applicantId = Model.ApplicantId, area = "Columbarium" }, null)

<h2>@Html.Raw(Resources.Mix.Items)</h2>

@{Html.RenderAction("NicheInfo", "Columbariums", new { id = Model.NicheDto.Id, area = "Columbarium" });}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.NameBR)</th>
            <th>@Html.Raw(Resources.Mix.DescriptionBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var columbariumItem in Model.ColumbariumItemDtos)
        {
            <tr>
                <td>@Html.ActionLink(columbariumItem.SubProductServiceDto.Name, "Index", columbariumItem.SubProductServiceDto.SystemCode, new { itemId = columbariumItem.Id, id = Model.NicheDto.Id, applicantId = Model.ApplicantId, area = "Columbarium" }, null)</td>
                <td>@columbariumItem.SubProductServiceDto.Description</td>
            </tr>
        }
    </tbody>
</table>