@model Memorial.ViewModels.NicheIndexesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink(Model.ColumbariumCentreDto.SiteDto.Name, "Catalog", "Menu", new { siteId = Model.ColumbariumCentreDto.SiteDto.Id, applicantId = Model.ApplicantId, area = "Menu" }, null) >
@Html.ActionLink(Resources.Mix.Columbarium, "Index", "Columbariums", new { siteId = Model.ColumbariumCentreDto.SiteDto.Id, applicantId = Model.ApplicantId, area = "Columbarium" }, null) >
@Html.ActionLink(Model.ColumbariumCentreDto.Name, "Area", "Columbariums", new { centreId = Model.ColumbariumCentreDto.Id, applicantId = Model.ApplicantId, area = "Columbarium" }, null) > 
@Html.ActionLink(Model.ColumbariumAreaDto.Name, "Niches", "Columbariums", new { areaId = Model.ColumbariumAreaDto.Id, applicantId = Model.ApplicantId, area = "Columbarium" }, null)

<h2>@Html.Raw(Resources.Mix.NichesBR)</h2>

<table class="table table-bordered table-hover">
    @foreach (var position in Model.Positions)
    {
        <tr>
            @foreach (var c in Model.Positions[position.Key])
            {
                foreach (var niche in Model.NicheDtos.Where(q => q.PositionY == position.Key && q.PositionX == c))
                {
                    <td>
                        @Html.ActionLink(niche.Name, "Items", new { id = niche.Id, applicantId = Model.ApplicantId, area = "Columbarium" })
                    </td>
                }
            }
        </tr>
    }
</table>
