@model Memorial.ViewModels.MiscellaneousItemIndexesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listing</h2>

<p>
    @Html.ActionLink("New", "New", new { miscellaneousItemId = Model.MiscellaneousItemId, applicantId = Model.ApplicantId })
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>AF</th>
            <th>Remark</th>
            <th>Price</th>
            <th>Create Date</th>
            @if (Model.OrderFlag)
            {
                <th>Invoice</th>
            }
            else
            {
                <th>Receipt</th>
            }
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var miscellaneousTransaction in Model.MiscellaneousTransactionDtos)
        {
        <tr>
            <td>@Html.ActionLink(miscellaneousTransaction.AF, "Info", new { AF = miscellaneousTransaction.AF }, new { target = "MiscellaneousTransactionInfo" })</td>
            <td>@miscellaneousTransaction.Remark</td>
            <td>@miscellaneousTransaction.Amount</td>
            <td>@miscellaneousTransaction.CreateDate.ToString("yyyy-MM-dd HH:mm")</td>
            @if (Model.OrderFlag)
            {
                <td>@Html.ActionLink("Invoice", "Invoice", new { AF = miscellaneousTransaction.AF })</td>
            }
            else
            {
                <td>@Html.ActionLink("Receipt", "Receipt", new { AF = miscellaneousTransaction.AF })</td>
            }
            <td>@Html.ActionLink("Delete", "Delete", 
               new { AF = miscellaneousTransaction.AF, miscellaneousItemId = Model.MiscellaneousItemId, applicantId = Model.ApplicantId }, 
               new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are you sure?');" })</td>
        </tr>
        }
    </tbody>
</table>

