@model Memorial.ViewModels.RecentViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.ApplicantId != null)
{
    Html.RenderAction("Index", "ApplicantDeceaseds", new { area = "ApplicantDeceaseds", id = Model.ApplicantId });
}

<h4>@Html.Raw(Resources.Mix.RecentApplicationRecord)</h4>

<h6>@Html.Raw(Resources.Mix.AncestralTablet)</h6>
@{Html.RenderAction("Recent", "AncestralTablets", new { area = "AncestralTablet", siteId = Model.SiteId, applicantId = Model.ApplicantId });}
<h6>@Html.Raw(Resources.Mix.Plot)</h6>
@{Html.RenderAction("Recent", "Cemeteries", new { area = "Cemetery", siteId = Model.SiteId, applicantId = Model.ApplicantId });}
<h6>@Html.Raw(Resources.Mix.Niche)</h6>
@{Html.RenderAction("Recent", "Columbariums", new { area = "Columbarium", siteId = Model.SiteId, applicantId = Model.ApplicantId });}
<h6>@Html.Raw(Resources.Mix.Cremation)</h6>
@{Html.RenderAction("Recent", "Cremations", new { area = "Cremation", siteId = Model.SiteId, applicantId = Model.ApplicantId });}
<h6>@Html.Raw(Resources.Mix.Miscellaneous)</h6>
@{Html.RenderAction("Recent", "Miscellaneous", new { area = "Miscellaneous", siteId = Model.SiteId, applicantId = Model.ApplicantId });}
<h6>@Html.Raw(Resources.Mix.Space)</h6>
@{Html.RenderAction("Recent", "Spaces", new { area = "Space", siteId = Model.SiteId, applicantId = Model.ApplicantId });}
<h6>@Html.Raw(Resources.Mix.Urn)</h6>
@{Html.RenderAction("Recent", "Urns", new { area = "Urn", siteId = Model.SiteId, applicantId = Model.ApplicantId });}
