@model Memorial.ViewModels.ApplicantBriefViewModel
@{
    ViewBag.Title = "Info";
}

<h2>New Applicant</h2>

<div class="form-group row">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.IC)
    </div>
    <div class="col-md-6">
        @Model.IC
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        Name
    </div>
    <div class="col-md-6">
        @Html.Raw(Resources.Mix.EnglishName)
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        Name2
    </div>
    <div class="col-md-6">
        @Html.Raw(Resources.Mix.ChineseName)
    </div>
</div>

<p>
    @Html.ActionLink("New Deceased", "NewDeceased", new { id = Model.Id })
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>English Name</th>
            <th>Chinese Name</th>
            @*<th>Relationship</th>*@
            <th>@Html.Raw(Resources.Mix.Edit)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var deceased in Model.deceasedBriefDtos)
        {
            <tr>
                <td>@Html.ActionLink(deceased.Name, "Info", new { id = deceased.Id }, new { target = "deceasedInfo" })</td>
                <td>@deceased.Name2</td>
                @*<td>@deceased.RelationshipType.Name</td>*@
                <td>@Html.ActionLink(Resources.Mix.Edit, "EditDeceased", new { id = deceased.Id }, new { target = "deceasedInfo" })</td>
            </tr>
        }
    </tbody>
</table>