@model Memorial.Core.Dtos.ApplicantDto

<div class="row flexrow">
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.ICBR)
    </div>
    <div class="col-md-3">
        @Model.IC
    </div>
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.EnglishNameBR)
    </div>
    <div class="col-md-3">
        @Model.Name
    </div>
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.ChineseNameBR)
    </div>
    <div class="col-md-3">
        @Model.Name2
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.HousePhoneBR)
    </div>
    <div class="col-md-3">
        @Model.HousePhone
    </div>
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.MobileNumberBR)
    </div>
    <div class="col-md-3">
        @Model.MobileNumber
    </div>
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.RemarkBR)
    </div>
    <div class="col-md-3">
        @Model.Remark
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.AddressBR)
    </div>
    <div class="col-md-11">
        @Model.Address
    </div>
</div>
