@model Memorial.ViewModels.ApplicantBriefViewModel
@{
    ViewBag.Title = "Info";
}

<h2>@Html.Raw(Resources.Mix.NewApplicant)</h2>

<div class="form-group row">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.ICBR)
    </div>
    <div class="col-md-6">
        @Model.IC
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.EnglishNameBR)
    </div>
    <div class="col-md-6">
        @Model.Name
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.ChineseNameBR)
    </div>
    <div class="col-md-6">
        @Model.Name2
    </div>
</div>

<p>
    @Html.ActionLink(Resources.Mix.NewDeceased, "NewDeceased", new { id = Model.Id })
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.EnglishNameBR)</th>
            <th>@Html.Raw(Resources.Mix.ChineseNameBR)</th>
            <th>@Html.Raw(Resources.Mix.Edit)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var deceased in Model.deceasedBriefDtos)
        {
            <tr>
                <td>@Html.ActionLink(deceased.Name, "Info", new { id = deceased.Id }, new { target = "deceasedInfo" })</td>
                <td>@deceased.Name2</td>
                <td>@Html.ActionLink(Resources.Mix.Edit, "EditDeceased", new { id = deceased.Id }, new { target = "deceasedInfo" })</td>
            </tr>
        }
    </tbody>
</table>