@model Memorial.Core.Dtos.ApplicantDto

<div class="row flexrow">
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.IC)
    </div>
    <div class="col-md-3">
        @Model.IC
    </div>
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.EnglishName)
    </div>
    <div class="col-md-3">
        @Model.Name
    </div>
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.ChineseName)
    </div>
    <div class="col-md-3">
        @Model.Name2
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.HousePhone)
    </div>
    <div class="col-md-3">
        @Model.HousePhone
    </div>
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.MobileNumber)
    </div>
    <div class="col-md-3">
        @Model.MobileNumber
    </div>
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.Remark)
    </div>
    <div class="col-md-3">
        @Model.Remark
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.Address)
    </div>
    <div class="col-md-11">
        @Model.Address
    </div>
</div>
