@model Memorial.Core.Dtos.ApplicantDto

<div class="row flexrow">
    <div class="col-md-1">
        身份證<br />
        NRIC No
    </div>
    <div class="col-md-3">
        @Model.IC
    </div>
    <div class="col-md-1">
        姓名（英）<br />
        English Name
    </div>
    <div class="col-md-3">
        @Model.Name
    </div>
    <div class="col-md-1">
        （中）<br />
        Chinese Name
    </div>
    <div class="col-md-3">
        @Model.Name2
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-1">
        住家電話<br />
        House Phone
    </div>
    <div class="col-md-3">
        @Model.HousePhone
    </div>
    <div class="col-md-1">
        流動電話<br />
        Mobile Number
    </div>
    <div class="col-md-3">
        @Model.MobileNumber
    </div>
    <div class="col-md-1">
        備註<br />
        Remark
    </div>
    <div class="col-md-3">
        @Model.Remark
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-1">
        住址<br />
        Address
    </div>
    <div class="col-md-11">
        @Model.Address
    </div>
</div>
