@model Memorial.ViewModels.PlotItemIndexesViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (Model.AllowNew)
{
    <p>
        @Html.ActionLink("New", "Form", new { itemId = Model.PlotItemId, applicantId = Model.ApplicantId, id = Model.PlotId, area = "Plot" })
    </p>
}

@using (Html.BeginForm("Index", "SecondBurial", new { area = "Plot" }))
{
    <p>
        Find by Name: @Html.TextBox("filter")
        @Html.Hidden("itemId", Model.PlotItemId.ToString())
        @Html.Hidden("applicantId", Model.ApplicantId.ToString())
        @Html.Hidden("id", Model.PlotId.ToString())
        <input type="submit" value="Search" class="btn btn-secondary" />
    </p>
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>AF</th>
            <th>Plot</th>
            <th>Applicant</th>
            <th>Deceased</th>
            <th>Price</th>
            <th>Create Date</th>
            <th>Invoice</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plotTransaction in Model.PlotTransactionDtos)
        {
            <tr>
                <td>@Html.ActionLink(plotTransaction.AF, "Info", new { AF = plotTransaction.AF }, new { target = "PlotTransactionInfo" })</td>
                <td>@plotTransaction.PlotDto.Name</td>
                <td>@plotTransaction.ApplicantDto.Name &nbsp; @plotTransaction.ApplicantDto.Name2</td>
                <td>@plotTransaction.DeceasedDto1.Name &nbsp; @plotTransaction.DeceasedDto1.Name2</td>
                <td>@plotTransaction.Price</td>
                <td>@plotTransaction.CreateDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@Html.ActionLink("Invoice", "Invoices", new { AF = plotTransaction.AF, area = "Plot" })</td>
                <td>@Html.ActionLink("Edit", "Form", new { AF = plotTransaction.AF, applicantId = Model.ApplicantId, area = "Plot" })</td>
                <td>
                    @Html.ActionLink("Delete", "Delete",
                    new { AF = plotTransaction.AF, itemId = Model.PlotItemId, id = Model.PlotId, applicantId = Model.ApplicantId, area = "Plot" },
                    new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are you sure?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.PlotTransactionDtos.PageCount < Model.PlotTransactionDtos.PageNumber ? 0 : Model.PlotTransactionDtos.PageNumber) of @Model.PlotTransactionDtos.PageCount
@Html.PagedListPager(Model.PlotTransactionDtos, page => Url.Action("Index",
    new { page, id = Model.PlotId.ToString(), itemId = Model.PlotItemId.ToString(), applicantId = Model.ApplicantId.ToString(), filter = ViewBag.CurrentFilter }))


