@model Memorial.ViewModels.PlotItemIndexesViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (Model.AllowNew)
{
    <p>
        @Html.ActionLink("New", "Form", new { itemId = Model.PlotItemId, id = Model.PlotId, area = "Plot" })
    </p>
}

@using (Html.BeginForm("Index", "Reciprocates", new { area = "Plot" }))
{
    <p>
        Find by Name: @Html.TextBox("filter")
        @Html.Hidden("itemId", Model.PlotItemId.ToString())
        @Html.Hidden("applicantId", Model.ApplicantId.ToString())
        <input type="submit" value="Search" class="btn btn-secondary" />
    </p>
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>AF</th>
            <th>Plot</th>
            <th>FengShuiMaster</th>
            <th>Amount</th>
            <th>Remark</th>
            <th>Create Date</th>
            <th>Receipt</th>
            <th>@Html.Raw(Resources.Mix.Edit)</th>
            <th>@Html.Raw(Resources.Mix.Delete)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plotTransaction in Model.PlotTransactionDtos)
        {
            <tr>
                <td>@Html.ActionLink(plotTransaction.AF, "Info", new { AF = plotTransaction.AF }, new { target = "PlotTransactionInfo", area = "Plot" })</td>
                <td>@plotTransaction.PlotDto.Name</td>
                <td>@plotTransaction.FengShuiMasterDto.Name</td>
                <td>@plotTransaction.Price</td>
                <td>@plotTransaction.Remark</td>
                <td>@plotTransaction.CreateDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@Html.ActionLink("Receipt", "Receipts", new { AF = plotTransaction.AF, area = "Plot" })</td>
                <td>@Html.ActionLink(Resources.Mix.Edit, "Form", new { AF = plotTransaction.AF, itemId = plotTransaction.PlotItemId, area = "Plot" })</td>
                <td>
                    @Html.ActionLink(Resources.Mix.Delete, "Delete",
                    new { AF = plotTransaction.AF, itemId = plotTransaction.PlotItemId, area = "Plot" },
                    new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are you sure?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.PlotTransactionDtos.PageCount < Model.PlotTransactionDtos.PageNumber ? 0 : Model.PlotTransactionDtos.PageNumber) of @Model.PlotTransactionDtos.PageCount
@Html.PagedListPager(Model.PlotTransactionDtos, page => Url.Action("Index",
    new { page, itemId = Model.PlotItemId.ToString(), applicantId = Model.ApplicantId.ToString(), filter = ViewBag.CurrentFilter }))


