@model Memorial.ViewModels.OrderReceiptsViewModel
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Raw(Resources.Mix.Receipts)</h2>

@Html.Raw(Resources.Mix.Form): @Model.AF
<br />
@Html.Raw(Resources.Mix.Invoice) : @Model.InvoiceDto.IV
<br />
@Html.Raw(Resources.Mix.Amount) : @Model.InvoiceDto.Amount
<br />
@Html.Raw(Resources.Mix.RemainingAmount): @Model.RemainingAmount

@if (!Model.InvoiceDto.isPaid)
{
    <p>
        @Html.ActionLink(Resources.Mix.New, "Form", new { IV = Model.InvoiceDto.IV, AF = Model.AF, area = "Columbarium" })
    </p>
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.ReceiptBR)</th>
            <th>@Html.Raw(Resources.Mix.AmountBR)</th>
            <th>@Html.Raw(Resources.Mix.RemarkBR)</th>
            <th>@Html.Raw(Resources.Mix.PaymentMethodBR)</th>
            <th>@Html.Raw(Resources.Mix.PaymentRemarkBR)</th>
            <th>@Html.Raw(Resources.Mix.CreateDateBR)</th>
            <th>@Html.Raw(Resources.Mix.EditBR)</th>
            <th>@Html.Raw(Resources.Mix.DeleteBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var receipt in Model.ReceiptDtos)
        {
            <tr>
                <td>@Html.ActionLink(receipt.RE, "Info", new { RE = receipt.RE, area = "Columbarium" })</td>
                <td>@receipt.Amount</td>
                <td>@receipt.Remark</td>
                <td>@receipt.PaymentMethod.Name</td>
                <td>@receipt.PaymentRemark</td>
                <td>@receipt.CreateDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@Html.ActionLink(Resources.Mix.Edit, "Form", new { IV = Model.InvoiceDto.IV, AF = Model.AF, RE = receipt.RE, area = "Columbarium" })</td>
                <td>@Html.ActionLink(Resources.Mix.Delete, "Delete", new { RE = receipt.RE, IV = Model.InvoiceDto.IV, AF = Model.AF, area = "Columbarium" })</td>
            </tr>
        }
    </tbody>
</table>

