@model Memorial.ViewModels.ColumbariumTransactionsFormViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("Index", "ApplicantDeceaseds", new { area = "ApplicantDeceaseds", id = Model.ColumbariumTransactionDto.ApplicantDtoId });}

<h2>@Html.Raw(Resources.Mix.Form)</h2>

@using (Html.BeginForm("Save", "Orders", new { area = "Columbarium" }))
{
    @Model.ColumbariumTransactionDto.AF
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.Deceased)1
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(c => c.ColumbariumTransactionDto.DeceasedDto1Id, new SelectList(Model.DeceasedBriefDtos, "Id", "Name"), "請選擇 Please Select", new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.ColumbariumTransactionDto.DeceasedDto1Id)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.Deceased)2
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(c => c.ColumbariumTransactionDto.DeceasedDto2Id, new SelectList(Model.DeceasedBriefDtos, "Id", "Name"), "請選擇 Please Select", new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.ColumbariumTransactionDto.DeceasedDto2Id)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.FuneralCompanyBR)
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(c => c.ColumbariumTransactionDto.FuneralCompanyDtoId, new SelectList(Model.FuneralCompanyDtos, "Id", "Name"), "請選擇 Please Select", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.PriceBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.ColumbariumTransactionDto.Price, new { @class = "form-control", @required = Resources.Mix.Required })
            @Html.ValidationMessageFor(c => c.ColumbariumTransactionDto.Price)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.MaintenanceFeesBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.ColumbariumTransactionDto.Maintenance, new { @class = "form-control", @required = Resources.Mix.Required })
            @Html.ValidationMessageFor(c => c.ColumbariumTransactionDto.Maintenance)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.LifeTimeMaintenanceBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.ColumbariumTransactionDto.LifeTimeMaintenance, new { @class = "form-control", @required = Resources.Mix.Required })
            @Html.ValidationMessageFor(c => c.ColumbariumTransactionDto.LifeTimeMaintenance)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.RemarkBR)
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(c => c.ColumbariumTransactionDto.Remark, new { @class = "form-control" })
        </div>
    </div>
    @Html.HiddenFor(c => c.ColumbariumTransactionDto.ColumbariumItemDtoId)
    @Html.HiddenFor(c => c.ColumbariumTransactionDto.NicheDtoId)
    @Html.HiddenFor(c => c.ColumbariumTransactionDto.ApplicantDtoId)
    @Html.HiddenFor(c => c.ColumbariumTransactionDto.AF)
    <button type="submit" class="btn btn-primary">@Html.Raw(Resources.Mix.Save)</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/jqueryuicss")

    <script type="text/javascript">

        $(document).ready(function () {

            $.validator.addMethod("AtLeastOne", function (value, element, arg) {
                if (value >= 1)
                    return true;
                return false;
            }, MEMORIAL_AT_LEAST_ONE);

            $("#ColumbariumTransactionDto_Price").rules("add",
                {
                    AtLeastOne: true
                });

            $("#ColumbariumTransactionDto_Maintenance").rules("add",
                {
                    AtLeastOne: true
                });

            $("#ColumbariumTransactionDto_LifeTimeMaintenance").rules("add",
                {
                    AtLeastOne: true
                });
        });
    </script>
}