@model Memorial.ViewModels.ColumbariumItemIndexesViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink(Model.ColumbariumItemDto.ColumbariumCentreDto.SiteDto.Name, "Catalog", "Menu", new { siteId = Model.ColumbariumItemDto.ColumbariumCentreDto.SiteDto.Id, applicantId = Model.ApplicantId, area = "Menu" }, null) >
@Html.ActionLink(Resources.Mix.Columbarium, "Index", "Columbariums", new { siteId = Model.ColumbariumItemDto.ColumbariumCentreDto.SiteDto.Id, applicantId = Model.ApplicantId, area = "Columbarium" }, null) >
@Html.ActionLink(Model.ColumbariumItemDto.ColumbariumCentreDto.Name, "Area", "Columbariums", new { centreId = Model.ColumbariumItemDto.ColumbariumCentreDto.Id, applicantId = Model.ApplicantId, area = "Columbarium" }, null) >
@Html.ActionLink(Model.NicheDto.ColumbariumAreaDto.Name, "Niches", "Columbariums", new { areaId = Model.NicheDto.ColumbariumAreaDto.Id, applicantId = Model.ApplicantId, area = "Columbarium" }, null) >
@Html.ActionLink(Model.NicheDto.Name, "Items", "Columbariums", new { id = Model.NicheDto.Id, applicantId = Model.ApplicantId, area = "Columbarium" }, null)

<h2>@Model.ColumbariumItemDto.SubProductServiceDto.Name</h2>

@if (Model.AllowNew)
{
    <p>
        @Html.ActionLink(Resources.Mix.New, "Form", new { itemId = Model.ColumbariumItemDto.Id, applicantId = Model.ApplicantId, id = Model.NicheId, area = "Columbarium" })
    </p>
}

@using (Html.BeginForm("Index", "Orders", new { area = "Columbarium" }))
{
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.FindByName)
        </div>
        <div class="col-md-6 input-group">
            @Html.TextBoxFor(f => f.Filter, null, new { @id = "filter", @class = "form-control" })
            <input type="submit" value=@Html.Raw(Resources.Mix.Search) class="btn btn-secondary" />
        </div>
    </div>
    @Html.Hidden("itemId", Model.ColumbariumItemDto.Id.ToString())
    @Html.Hidden("applicantId", Model.ApplicantId.ToString())
    @Html.Hidden("id", Model.NicheId.ToString())
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.AFBR)</th>
            <th>@Html.Raw(Resources.Mix.NicheBR)</th>
            <th>@Html.Raw(Resources.Mix.Applicant)</th>
            <th>@Html.Raw(Resources.Mix.HasDeceasedBR)</th>
            <th>@Html.Raw(Resources.Mix.PriceBR)</th>
            <th>@Html.Raw(Resources.Mix.MaintenanceFeesBR)</th>
            <th>@Html.Raw(Resources.Mix.LifeTimeMaintenanceBR)</th>
            <th>@Html.Raw(Resources.Mix.CreateDateBR)</th>
            <th>@Html.Raw(Resources.Mix.InvoiceBR)</th>
            <th>@Html.Raw(Resources.Mix.EditBR)</th>
            <th>@Html.Raw(Resources.Mix.DeleteBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var columbariumTransaction in Model.ColumbariumTransactionDtos)
        {
            <tr>
                <td>@Html.ActionLink(columbariumTransaction.AF, "Info", new { AF = columbariumTransaction.AF }, new { target = "ColumbariumTransactionInfo", area = "Columbarium" })</td>
                <td>@columbariumTransaction.NicheDto.Name</td>
                <td>@columbariumTransaction.ApplicantDto.Name &nbsp; @columbariumTransaction.ApplicantDto.Name2</td>
                <td>@columbariumTransaction.NicheDto.hasDeceased</td>
                <td>@columbariumTransaction.Price</td>
                <td>@columbariumTransaction.Maintenance</td>
                <td>@columbariumTransaction.LifeTimeMaintenance</td>
                <td>@columbariumTransaction.CreatedDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@Html.ActionLink(Resources.Mix.Invoice, "Invoices", new { AF = columbariumTransaction.AF, area = "Columbarium" })</td>
                <td>@Html.ActionLink(Resources.Mix.Edit, "Form", new { AF = columbariumTransaction.AF, applicantId = Model.ApplicantId, area = "Columbarium" })</td>
                <td>
                    @Html.ActionLink(Resources.Mix.Delete, "Delete",
                    new { AF = columbariumTransaction.AF, itemId = Model.ColumbariumItemDto.Id, id = Model.NicheId, applicantId = Model.ApplicantId, area = "Columbarium" },
                    new { @class = "btn btn-danger btn-sm", onclick = "return confirm(MEMORIAL_CONFIRM);" })
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.ColumbariumTransactionDtos.PageCount < Model.ColumbariumTransactionDtos.PageNumber ? 0 : Model.ColumbariumTransactionDtos.PageNumber) of @Model.ColumbariumTransactionDtos.PageCount
@Html.PagedListPager(Model.ColumbariumTransactionDtos, page => Url.Action("Index",
    new { page, id = Model.NicheId, itemId = Model.ColumbariumItemDto.Id.ToString(), applicantId = Model.ApplicantId.ToString(), filter = ViewBag.CurrentFilter }))


