@model Memorial.ViewModels.ColumbariumTransactionsFormViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink(Model.ColumbariumCentreDto.SiteDto.Name, "Catalog", "Menu", new { siteId = Model.ColumbariumCentreDto.SiteDto.Id, applicantId = Model.ColumbariumTransactionDto.ApplicantDtoId, area = "Menu" }, null) >
@Html.ActionLink(Resources.Mix.Columbarium, "Index", "Columbariums", new { siteId = Model.ColumbariumCentreDto.SiteDto.Id, applicantId = Model.ColumbariumTransactionDto.ApplicantDtoId, area = "Columbarium" }, null) >
@Html.ActionLink(Model.ColumbariumCentreDto.Name, "Area", "Columbariums", new { centreId = Model.ColumbariumCentreDto.Id, applicantId = Model.ColumbariumTransactionDto.ApplicantDtoId, area = "Columbarium" }, null) >
@Html.ActionLink(Model.NicheDto.ColumbariumAreaDto.Name, "Niches", "Columbariums", new { centreId = Model.ColumbariumCentreDto.Id, applicantId = Model.ColumbariumTransactionDto.ApplicantDtoId, area = "Columbarium" }, null) >
@Html.ActionLink(Model.NicheDto.Name, "Items", "Columbariums", new { id = Model.NicheDto.Id, applicantId = Model.ColumbariumTransactionDto.ApplicantDtoId, area = "Columbarium" }, null)

@{Html.RenderAction("ApplicantBrief", "Applicants", new { id = Model.ColumbariumTransactionDto.ApplicantDtoId, area = "Applicant" });}

<h2>@Html.Raw(Resources.Mix.Form)</h2>

@using (Html.BeginForm("Save", "Shifts", new { area = "Columbarium" }))
{
    @Model.ColumbariumTransactionDto.AF

    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.NicheBR)
        </div>
        <div class="col-md-6">
            @Model.ColumbariumTransactionDto.ShiftedNicheDto.Name
        </div>
    </div>
    if (Model.ColumbariumTransactionDto.AF == null)
    {
        <div class="form-group row">
            <div class="col-md-3">
                @Html.Raw(Resources.Mix.HasDeceasedBR)
            </div>
            <div class="col-md-6">
                @Model.ColumbariumTransactionDto.ShiftedNicheDto.hasDeceased
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-9">
                @Html.Raw(Resources.Mix.ShiftToBR)
            </div>
        </div>
    }
    else
    {
        <div class="form-group row">
            <div class="col-md-9">
                @Html.Raw(Resources.Mix.ShiftedToBR)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                @Html.Raw(Resources.Mix.NicheBR)
            </div>
            <div class="col-md-6">
                @Model.ColumbariumTransactionDto.NicheDto.Name
            </div>
        </div>
        <hr />
        <div>@Html.Raw(Resources.Mix.ChangeToBR)</div>
    }
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.SiteBR)
        </div>
        <div class="col-md-6">
            <select id="Sites" class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.CentreBR)
        </div>
        <div class="col-md-6">
            <select id="Centres" class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.AreaBR)
        </div>
        <div class="col-md-6">
            <select id="Areas" class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.NicheBR)
        </div>
        <div class="col-md-6">
            <select id="Niches" class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            @Html.Raw(Resources.Mix.NameBR)
        </div>
        <div class="col-md-1">
            @Html.Raw(Resources.Mix.DescriptionBR)
        </div>
        <div class="col-md-2">
            @Html.Raw(Resources.Mix.TypeBR)
        </div>
        <div class="col-md-2">
            @Html.Raw(Resources.Mix.PriceBR)
        </div>
        <div class="col-md-2">
            @Html.Raw(Resources.Mix.MaintenanceFeesBR)
        </div>
        <div class="col-md-2">
            @Html.Raw(Resources.Mix.LifeTimeMaintenanceBR)
        </div>
        <div class="col-md-1">
            @Html.Raw(Resources.Mix.RemarkBR)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2" id="qName"></div>
        <div class="col-md-1" id="qDescription"></div>
        <div class="col-md-2" id="qNicheType"></div>
        <div class="col-md-2" id="qPrice">
            @Html.TextBoxFor(c => c.ColumbariumTransactionDto.Price, new { @class = "form-control", @required = "required" })
        </div>
        <div class="col-md-2" id="qMaintenance">
            @Html.TextBoxFor(c => c.ColumbariumTransactionDto.Maintenance, new { @class = "form-control", @required = "required" })
        </div>
        <div class="col-md-2" id="qLifeTimeMaintenance">
            @Html.TextBoxFor(c => c.ColumbariumTransactionDto.LifeTimeMaintenance, new { @class = "form-control", @required = "required" })
        </div>
        <div class="col-md-1" id="qRemark"></div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.RemarkBR)
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(c => c.ColumbariumTransactionDto.Remark, new { @class = "form-control" })
        </div>
    </div>

    @Html.HiddenFor(c => c.ColumbariumTransactionDto.ColumbariumItemDtoId)
    @Html.HiddenFor(c => c.ColumbariumTransactionDto.ShiftedNicheDtoId)
    @Html.HiddenFor(c => c.ColumbariumTransactionDto.ShiftedColumbariumTransactionDtoAF)
    @Html.HiddenFor(c => c.ColumbariumTransactionDto.NicheDtoId)
    @Html.HiddenFor(c => c.ColumbariumTransactionDto.ApplicantDtoId)
    @Html.HiddenFor(c => c.ColumbariumTransactionDto.AF)
    <button type="submit" class="btn btn-primary">@Html.Raw(Resources.Mix.Save)</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/jqueryuicss")

    <script>
        function sites() {
            $.ajax({
                url: "/api/sites"
            })
                .done(function (response) {
                    var len = response.length;
                    $("#Sites").empty();
                    $("#Sites").append("<option value='0'>請選擇 Please Select</option>");
                    for (var i = 0; i < len; i++) {
                        var id = response[i]['id'];
                        var name = response[i]['name'];
                        $("#Sites").append("<option value='" + id + "'>" + name + "</option>");
                    }
                })
                .fail(function () {
                    toastr.error(MEMORIAL_UNEXPECTED_HAPPENED);
                });
        }

        function centres() {
            var url = "/api/sites/" + $("#Sites").val() + "/columbariums/centres";

            $.ajax({
                url: url
            })
                .done(function (response) {
                    var len = response.length;
                    $("#Centres").empty();
                    $("#Centres").append("<option value='0'>請選擇 Please Select</option>");
                    for (var i = 0; i < len; i++) {
                        var id = response[i]['id'];
                        var name = response[i]['name'];
                        $("#Centres").append("<option value='" + id + "'>" + name + "</option>");
                    }
                })
                .fail(function () {
                    toastr.error(MEMORIAL_UNEXPECTED_HAPPENED);
                });
        }

        function areas() {
            var url = "/api/columbariums/centres/" + $("#Centres").val() + "/areas";

            $.ajax({
                url: url
            })
                .done(function (response) {
                    var len = response.length;
                    $("#Areas").empty();
                    $("#Areas").append("<option value='0'>請選擇 Please Select</option>");
                    for (var i = 0; i < len; i++) {
                        var id = response[i]['id'];
                        var name = response[i]['name'];
                        $("#Areas").append("<option value='" + id + "'>" + name + "</option>");
                    }
                })
                .fail(function () {
                    toastr.error(MEMORIAL_UNEXPECTED_HAPPENED);
                });
        }

        function niches() {
            var url = "/api/columbariums/areas/" + $("#Areas").val() + "/availableNiches";

            $.ajax({
                url: url
            })
                .done(function (response) {
                    var len = response.length;
                    $("#Niches").empty();
                    $("#Niches").append("<option value='0'>請選擇 Please Select</option>");
                    for (var i = 0; i < len; i++) {
                        var id = response[i]['id'];
                        var name = response[i]['name'];
                        $("#Niches").append("<option value='" + id + "'>" + name + "</option>");
                    }
                })
                .fail(function () {
                    toastr.error(MEMORIAL_UNEXPECTED_HAPPENED);
                });
        }

        function clearNiche() {
            $("#qName").empty();
            $("#qDescription").empty();
            $("#ColumbariumTransactionDto_Price").val('');
            $("#ColumbariumTransactionDto_Maintenance").val('');
            $("#ColumbariumTransactionDto_LifeTimeMaintenance").val('');
            $("#ColumbariumTransactionDto_NicheDtoId").val('');
            $("#qRemark").empty();
            $("#qNicheType").empty();
        }

        function niche() {
            clearNiche();

            var url = "/api/columbariums/niches/" + $("#Niches").val();

            $.ajax({
                url: url
            })
                .done(function (response) {
                    if (response != null) {
                        $("#qName").html(response['name']);
                        $("#qDescription").html(response['description']);
                        $("#ColumbariumTransactionDto_Maintenance").val(response['maintenance']);
                        $("#ColumbariumTransactionDto_LifeTimeMaintenance").val(response['lifeTimeMaintenance']);
                        $("#qRemark").html(response['remark']);
                        $("#qNicheType").html(response['nicheTypeDto.name']);
                        $("#ColumbariumTransactionDto_Price").val(response['price']);
                        $("#ColumbariumTransactionDto_NicheDtoId").val(response['id']);
                    }
                })
                .fail(function () {
                    toastr.error(MEMORIAL_UNEXPECTED_HAPPENED);
                });
        }

        $(document).ready(function () {
            sites();

            $("#Sites").change(function () {
                $("#Centres").empty();
                $("#Areas").empty();
                $("#Niches").empty();
                clearNiche();

                if ($(this).val() != 0) {
                    centres();
                }
            })

            $("#Centres").change(function () {
                $("#Areas").empty();
                $("#Niches").empty();
                clearNiche();

                if ($(this).val() != 0) {
                    areas();
                }
            })

            $("#Areas").change(function () {
                $("#Niches").empty();
                clearNiche();

                if ($(this).val() != 0) {
                    niches();
                }
            });

            $("#Niches").change(function () {
                clearNiche();

                if ($(this).val() != 0) {
                    niche();
                }
            });
        });

    </script>

}
