@model Memorial.ViewModels.SpaceIndexesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink(Model.SiteDto.Name, "Catalog", "Menu", new { siteId = Model.SiteDto.Id, applicantId = Model.ApplicantId, area = "Menu" }, null)
<br />
<br />
@Html.ActionLink("Calendar", "ShowCalendar", new { siteId = Model.SiteDto.Id, area = "Space" })

<h2>@Html.Raw(Resources.Mix.Space)</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.NameBR)</th>
            <th>@Html.Raw(Resources.Mix.DescriptionBR)</th>
            <th>@Html.Raw(Resources.Mix.RemarkBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var space in Model.SpaceDtos)
        {
            <tr>
                <td>@Html.ActionLink(space.Name, "Items", new { spaceId = space.Id, applicantId = Model.ApplicantId, area = "Space" })</td>
                <td>@space.Description</td>
                <td>@space.Remark</td>
            </tr>
        }
    </tbody>
</table>

<h4>@Html.Raw(Resources.Mix.RecentApplicationRecord)</h4>
@{Html.RenderAction("Recent", "Spaces", new { area = "Space", siteId = Model.SiteDto.Id, applicantId = Model.ApplicantId });}

