@model Memorial.ViewModels.SpaceIndexesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Calendar", "ShowCalendar", new { siteId = Model.siteDto.Id, area = "Space" })
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.NameBR)</th>
            <th>@Html.Raw(Resources.Mix.DescriptionBR)</th>
            <th>@Html.Raw(Resources.Mix.RemarkBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var space in Model.SpaceDtos)
        {
            <tr>
                <td>@Html.ActionLink(space.Name, "Items", new { spaceId = space.Id, applicantId = Model.ApplicantId, area = "Space" })</td>
                <td>@space.Description</td>
                <td>@space.Remark</td>
            </tr>
        }
    </tbody>
</table>


