@model Memorial.ViewModels.SpaceItemsViewModel
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink(Model.SpaceDto.SiteDto.Name, "Catalog", "Menu", new { siteId = Model.SpaceDto.SiteDto.Id, applicantId = Model.ApplicantId, area = "Menu" }, null) >
@Html.ActionLink(Model.SpaceDto.Name, "Items", "Spaces", new { spaceId = Model.SpaceDto.Id, applicantId = Model.ApplicantId, area = "Space" }, null)

<h2>@Html.Raw(Resources.Mix.Items)</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.NameBR)</th>
            <th>@Html.Raw(Resources.Mix.DescriptionBR)</th>
            <th>@Html.Raw(Resources.Mix.PriceBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var spaceItem in Model.SpaceItemDtos)
        {
            <tr>
                <td>@Html.ActionLink(spaceItem.SubProductServiceDto.Name, "Index", spaceItem.SubProductServiceDto.SystemCode, new { itemId = spaceItem.Id, applicantId = Model.ApplicantId, area = "Space" }, null)</td>
                <td>@spaceItem.SubProductServiceDto.Description</td>
                <td>@spaceItem.Price</td>
            </tr>
        }
    </tbody>
</table>