@model Memorial.ViewModels.MiscellaneousIndexesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink(Model.SiteDto.Name, "Catalog", "Menu", new { siteId = Model.SiteDto.Id, applicantId = Model.ApplicantId, area = "Menu" }, null)

<h2>@Html.Raw(Resources.Mix.Miscellaneous)</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Remark</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var miscellaneous in Model.MiscellaneousDtos)
        {
            <tr>
                <td>@Html.ActionLink(miscellaneous.Name, "Items", new { miscellaneousId = miscellaneous.Id, applicantId = Model.ApplicantId, area = "Miscellaneous" })</td>
                <td>@miscellaneous.Description</td>
                <td>@miscellaneous.Remark</td>
            </tr>
        }
    </tbody>
</table>
