@model Memorial.ViewModels.QuadrangleItemIndexesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (Model.AllowNew)
{
    <p>
        @Html.ActionLink("New", "Form", new { itemId = Model.QuadrangleItemId, applicantId = Model.ApplicantId, id = Model.QuadrangleId, area = "Quadrangle" })
    </p>
}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>AF</th>
            <th>Quadrangle</th>
            <th>Shifted To</th>
            <th>Applicant</th>
            <th>Price</th>
            <th>Create Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quadrangleTransaction in Model.QuadrangleTransactionDtos)
        {
        <tr>
            <td>@Html.ActionLink(quadrangleTransaction.AF, "Info", new { AF = quadrangleTransaction.AF }, new { target = "QuadrangleTransactionInfo", area = "Quadrangle" })</td>
            <td>@quadrangleTransaction.Quadrangle.Name</td>
            <td>@Html.ActionLink(@quadrangleTransaction.ShiftedQuadrangle.Name, "Index", new { itemId = quadrangleTransaction.QuadrangleItemId, id= quadrangleTransaction.ShiftedQuadrangleId, applicantId = quadrangleTransaction.ApplicantId, area = "Quadrangle" })</td>
            <td>@quadrangleTransaction.Applicant.Name &nbsp; @quadrangleTransaction.Applicant.Name2</td>
            <td>@quadrangleTransaction.Price</td>
            <td>@quadrangleTransaction.CreateDate.ToString("yyyy-MM-dd HH:mm")</td>
        </tr>
        }
    </tbody>
</table>



