@model Memorial.ViewModels.NonOrderReceiptsViewModel
@{
    ViewBag.Title = "NonOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Raw(Resources.Mix.Receipts)</h2>

@Html.Raw(Resources.Mix.Form): @Model.AF
<br />
@Html.Raw(Resources.Mix.Amount) : @Model.Amount
<br />
@Html.Raw(Resources.Mix.RemainingAmount): @Model.RemainingAmount

@if (Model.RemainingAmount > 0)
{
    <p>
        @Html.ActionLink(Resources.Mix.New, "Form", new { AF = Model.AF, MasterCatalog = Model.MasterCatalog, area = "Columbarium" })
    </p>
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.ReceiptBR)</th>
            <th>@Html.Raw(Resources.Mix.AmountBR)</th>
            <th>@Html.Raw(Resources.Mix.RemarkBR)</th>
            <th>@Html.Raw(Resources.Mix.PaymentMethodBR)</th>
            <th>@Html.Raw(Resources.Mix.PaymentRemarkBR)</th>
            <th>@Html.Raw(Resources.Mix.CreateDateBR)</th>
            <th>@Html.Raw(Resources.Mix.DeleteBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var receipt in Model.ReceiptDtos)
        {
            <tr>
                <td>@receipt.RE</td>
                <td>@receipt.Amount</td>
                <td>@receipt.Remark</td>
                <td>@receipt.PaymentMethod.Name</td>
                <td>@receipt.PaymentRemark</td>
                <td>@receipt.CreatedDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@Html.ActionLink(Resources.Mix.Delete, "Delete", new { RE = receipt.RE, AF = Model.AF, MasterCatalog = Model.MasterCatalog, area = "Columbarium" })</td>
            </tr>
        }
    </tbody>
</table>
