@model Memorial.Core.Dtos.SpaceTransactionDto
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("Index", "ApplicantDeceaseds", new { area = "ApplicantDeceaseds", id = Model.ApplicantDtoId });}

<h2>@Html.Raw(Resources.Mix.Form)</h2>

@using (Html.BeginForm("Save", "Chairs", new { area = "Space" }))
{
    @Model.AF
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.FromBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(s => s.FromDate, "{0:yyyy-MM-dd HH:mm}", new { @class = "form-control datetimepicker"})
            @Html.ValidationMessageFor(s => s.FromDate)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.ToBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(s => s.ToDate, "{0:yyyy-MM-dd HH:mm}", new { @class = "form-control datetimepicker" })
            @Html.ValidationMessageFor(s => s.ToDate)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.PriceBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(s => s.Amount, new { @class = "form-control", @required = Resources.Mix.Required })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.RemarkBR)
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(s => s.Remark, new { @class = "form-control" })
        </div>
    </div>

    @Html.HiddenFor(s => s.SpaceItemDtoId)
    @Html.HiddenFor(s => s.ApplicantDtoId)
    @Html.HiddenFor(s => s.AF)
    @Html.HiddenFor(s => s.BasePrice)
    <button type="submit" class="btn btn-primary" id="btnSubmit">@Html.Raw(Resources.Mix.Save)</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/jqueryuicss")

    @Scripts.Render("~/bundles/jqueryui-timepicker")
    @Styles.Render("~/Content/jqueryuicss-timepicker")

    <script type="text/javascript">
        $(document).ready(function () {   // will trigger when the document is ready
            $.validator.addMethod("AtLeastOne", function (value, element, arg) {
                if (value >= 1)
                    return true;
                return false;
            }, MEMORIAL_AT_LEAST_ONE);

            $("#Amount").rules("add",
            {
                AtLeastOne: true
            });

            var dateNow = new Date();
            $('.datepicker').datetimepicker({
                dateFormat: 'yy-mm-dd',
                defaultDate: dateNow
            }); //Initialise any date pickers
            $('.datetimepicker').datetimepicker({
                dateFormat: 'yy-mm-dd',
                timeFormat: 'HH:mm',
                defaultDate: dateNow
            }); //Initialise any date pickers
        });
    </script>

}