@model Memorial.Core.Dtos.DeceasedDto

<div class="row flexrow">
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.IC)
    </div>
    <div class="col-md-3">
        @Model.IC
    </div>
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.EnglishName)
    </div>
    <div class="col-md-3">
        @Model.Name
    </div>
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.ChineseName)
    </div>
    <div class="col-md-3">
        @Model.Name2
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.Age)
    </div>
    <div class="col-md-3">
        @Model.Age
    </div>
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.Gender)
    </div>
    <div class="col-md-3">
        @Model.GenderType.Name
    </div>
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.Marital)
    </div>
    <div class="col-md-3">
        @Model.MaritalType.Name
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.Religion)
    </div>
    <div class="col-md-3">
        @Model.ReligionType.Name
    </div>
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.Nationality)
    </div>
    <div class="col-md-3">
        @Model.NationalityType.Name
    </div>
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.Remark)
    </div>
    <div class="col-md-3">
        @Model.Remark
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.Address)
    </div>
    <div class="col-md-11">
        @Model.Address
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.DeathDate)
    </div>
    <div class="col-md-3">
        @Model.DeathDate.ToString("yyyy-MM-dd HH:mm")
    </div>
    <div class="col-md-1">
        @Html.Raw(Resources.Mix.DeathCertificate)
    </div>
    <div class="col-md-3">
        @Model.DeathCertificate
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-2">
        @Html.Raw(Resources.Mix.DeathRegistrationCentre)
    </div>
    <div class="col-md-3">
        @Model.DeathRegistrationCentre
    </div>
    <div class="col-md-2">
        @Html.Raw(Resources.Mix.BurialCertificate)
    </div>
    <div class="col-md-3">
        @Model.BurialCertificate
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-2">
        @Html.Raw(Resources.Mix.ImportPermitNumber)
    </div>
    <div class="col-md-4">
        @Model.ImportPermitNumber
    </div>
</div>
