@model Memorial.Core.Dtos.ApplicantDto
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null || Model.Id == 0)
{
    <h2>@Html.Raw(Resources.Mix.NewApplicant)</h2>
}
else
{
    <h2>@Html.Raw(Resources.Mix.EditApplicant)</h2>
}

@using (Html.BeginForm("Save", "Applicants", new { area = "Applicant" }))
{
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.ICBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(a => a.IC, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.IC)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.EnglishNameBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Name)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.ChineseNameBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(a => a.Name2, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.AddressBR)
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(a => a.Address, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.HousePhoneBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(a => a.HousePhone, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.MobileNumberBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(a => a.MobileNumber, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.RemarkBR)
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(a => a.Remark, new { @class = "form-control" })
        </div>
    </div>
    @Html.HiddenFor(a => a.Id)
    <button type="submit" class="btn btn-primary">@Html.Raw(Resources.Mix.Save)</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).on("blur", ":input", function () {
            this.value = this.value.trim();
        });
    </script>
}