@model PagedList.IPagedList<Memorial.Core.Dtos.ApplicantDto>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Applicants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Raw(@Resources.Mix.Applicants)</h2>

<p>
    @Html.ActionLink(@Resources.Mix.New, "New", new { area = "Applicant" })
</p>

@using (Html.BeginForm("Index", "Applicants", new { area = "Applicant" }))
{
    <p>
        Find by Name/IC: @Html.TextBox("filter")
        <input type="submit" value="Search" class="btn btn-secondary" />
    </p>
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.EnglishNameBR)</th>
            <th>@Html.Raw(Resources.Mix.ChineseNameBR)</th>
            <th>@Html.Raw(Resources.Mix.ICBR)</th>
            <th>@Html.Raw(Resources.Mix.Edit)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var applicant in Model)
        {
            <tr>
                <td>@Html.ActionLink(applicant.Name, "Catalog", new { id = applicant.Id, area = "Applicant" })</td>
                <td>@applicant.Name2</td>
                <td>@applicant.IC</td>
                <td>@Html.ActionLink(@Resources.Mix.Edit, "Edit", new { id = applicant.Id, area = "Applicant" })</td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, filter = ViewBag.CurrentFilter }))