@model PagedList.IPagedList<Memorial.Core.Dtos.ApplicantDto>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Applicants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Raw(@Resources.Mix.Applicants)</h2>

<p>
    @Html.ActionLink(@Resources.Mix.New, "New", new { area = "Applicant" })
</p>

@using (Html.BeginForm("Index", "Applicants", new { area = "Applicant" }))
{
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.FindByName)
        </div>
        <div class="col-md-6 input-group">
            @Html.TextBox("filter")
            <input type="submit" value=@Html.Raw(Resources.Mix.Search) class="btn btn-secondary" />
        </div>
    </div>
}

<table class="table table-bordered table-hover" id="tbl">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.EnglishNameBR)</th>
            <th>@Html.Raw(Resources.Mix.ChineseNameBR)</th>
            <th>@Html.Raw(Resources.Mix.ICBR)</th>
            <th>@Html.Raw(Resources.Mix.Edit)</th>
            <th>@Html.Raw(Resources.Mix.Delete)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var applicant in Model)
        {
            <tr>
                <td>@Html.ActionLink(applicant.Name, "Catalog", new { id = applicant.Id, area = "Applicant" })</td>
                <td>@applicant.Name2</td>
                <td>@applicant.IC</td>
                <td>@Html.ActionLink(@Resources.Mix.Edit, "Edit", new { id = applicant.Id, area = "Applicant" })</td>
                <td><button class="btn btn-sm btn-danger js-delete" data-id=@applicant.Id>@Resources.Mix.Delete</button></td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, filter = ViewBag.CurrentFilter }))

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#tbl").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm(MEMORIAL_CONFIRM, function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/applicants/" + button.attr("data-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            },
                            error: function () {
                                toastr.error(MEMORIAL_RECORD_LINKED);
                            }
                        });
                    }
                });
            });
        });
    </script>
}