@model Memorial.Core.Dtos.ApplicantDto
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Raw(Resources.Mix.Applicant)</h2>

<div class="form-group">
    @Html.Raw(Resources.Mix.ICBR)
    @Model.IC
</div>
<div class="form-group">
    @Html.Raw(Resources.Mix.EnglishNameBR)
    @Model.Name
</div>
<div class="form-group">
    @Html.Raw(Resources.Mix.ChineseNameBR)
    @Model.Name2
</div>
<div class="form-group">
    @Html.Raw(Resources.Mix.AddressBR)
    @Model.Address
</div>
<div class="form-group">
    @Html.Raw(Resources.Mix.HousePhoneBR)
    @Model.HousePhone
</div>
<div class="form-group">
    @Html.Raw(Resources.Mix.MobileNumberBR)
    @Model.MobileNumber
</div>
<div class="form-group">
    @Html.Raw(Resources.Mix.RemarkBR)
    @Model.Remark
</div>