@model Memorial.ViewModels.CemeteryTransactionsFormViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("Index", "ApplicantDeceaseds", new { area = "ApplicantDeceaseds", id = Model.CemeteryTransactionDto.ApplicantDtoId });}

<h2>@Html.Raw(Resources.Mix.Form)</h2>

@using (Html.BeginForm("Save", "SecondBurials", new { area = "Cemetery" }))
{
    @Model.CemeteryTransactionDto.AF
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.DeceasedBR)
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(c => c.CemeteryTransactionDto.DeceasedDto1Id, new SelectList(Model.DeceasedBriefDtos, "Id", "Name"), "Please Select", new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.CemeteryTransactionDto.DeceasedDto1Id)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.PriceBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.CemeteryTransactionDto.Price, new { @class = "form-control", @required = Resources.Mix.Required })
            @Html.ValidationMessageFor(c => c.CemeteryTransactionDto.Price)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.RemarkBR)
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(c => c.CemeteryTransactionDto.Remark, new { @class = "form-control" })
        </div>
    </div>
    @Html.HiddenFor(c => c.CemeteryTransactionDto.CemeteryItemId)
    @Html.HiddenFor(c => c.CemeteryTransactionDto.PlotDtoId)
    @Html.HiddenFor(c => c.CemeteryTransactionDto.ApplicantDtoId)
    @Html.HiddenFor(c => c.CemeteryTransactionDto.AF)
    <button type="submit" class="btn btn-primary">@Html.Raw(Resources.Mix.Save)</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/jqueryuicss")

    <script type="text/javascript">

        $(document).ready(function () {

            $.validator.addMethod("AtLeastOne", function (value, element, arg) {
                if (value >= 1)
                    return true;
                return false;
            }, "At least 1");

            $("#CemeteryTransactionDto_Price").rules("add",
                {
                    AtLeastOne: true
                });

        });
    </script>
}