@model Memorial.ViewModels.AncestralTabletInfoViewModel

<div class="form-group row">
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.SiteBR)
    </div>
    <div class="col-md-2">
        @Model.SiteDto.Name
    </div>
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.AreaBR)
    </div>
    <div class="col-md-2">
        @Model.AncestralTabletAreaDto.Name
    </div>
</div>
<div class="form-group row">
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.No_BR)
    </div>
    <div class="col-md-2">
        @Model.AncestralTabletDto.Name
    </div>
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.X)
    </div>
    <div class="col-md-2">
        @Model.AncestralTabletDto.PositionX
    </div>
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.Y)
    </div>
    <div class="col-md-2">
        @Model.AncestralTabletDto.PositionY
    </div>
</div>
<div class="form-group row">
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.PriceBR)
    </div>
    <div class="col-md-2">
        @Model.AncestralTabletDto.Price
    </div>
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.MaintenanceFeesBR)
    </div>
    <div class="col-md-2">
        @Model.AncestralTabletDto.Maintenance
    </div>
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.RemarkBR)
    </div>
    <div class="col-md-2">
        @Model.AncestralTabletDto.Remark
    </div>
</div>
<hr />
<h5>@Html.Raw(Resources.Mix.Applicant)</h5>
@if (Model.ApplicantDto == null)
{
    <div>@Html.Raw(Resources.Mix.NoRecord)</div>
}
else
{
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.EnglishNameBR)
        </div>
        <div class="col-md-3">
            @Html.ActionLink(Model.ApplicantDto.Name, "Info", "Applicants", new { id = Model.ApplicantDto.Id }, null)
        </div>
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.ChineseNameBR)
        </div>
        <div class="col-md-3">
            @Model.ApplicantDto.Name2
        </div>
    </div>
    <h5>@Html.Raw(Resources.Mix.Deceased)</h5>
    if (Model.DeceasedFlattenDto == null)
    {
        <div>@Html.Raw(Resources.Mix.NoRecord)</div>
    }
    else
    {
        <div class="form-group row">
            <div class="col-md-1">
                @Html.Raw(Resources.Mix.EnglishNameBR)
            </div>
            <div class="col-md-2">
                @Html.ActionLink(Model.DeceasedFlattenDto.DeceasedName, "Info", "Deceaseds", new { id = Model.DeceasedFlattenDto.DeceasedId }, null)
            </div>
            <div class="col-md-1">
                @Html.Raw(Resources.Mix.ChineseNameBR)
            </div>
            <div class="col-md-2">
                @Model.DeceasedFlattenDto.DeceasedName2
            </div>
            <div class="col-md-2">
                @Html.Raw(Resources.Mix.RelationshipBR)
            </div>
            <div class="col-md-2">
                @Model.DeceasedFlattenDto.RelationshipTypeName
            </div>
        </div>
    }
    <div class="form-group row">
        <div class="col-md-3">
            @Html.ActionLink("Install/Remove", "Index", "AncestralTabletDeceaseds", new { id = Model.AncestralTabletDto.Id }, null)
        </div>
    </div>
}