@model Memorial.ViewModels.ColumbariumTransactionsInfoViewModel
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Print.cshtml";
}

@if (!Model.ExportToPDF)
{
    @Html.ActionLink("Print All", "PrintAll", new { AF = Model.ColumbariumTransactionDto.AF })
}

@Html.Raw(Model.Header)

<div class="row flexrow">
    <div class="col-md-3" style="text-align:left">
        <span>Transaction Date</span><br />
        <span data-utcDate="@Model.ColumbariumTransactionDto.CreatedUtcTime.ToString("yyyy-MM-dd HH:mm")"></span>
    </div>
    <div class="col-md-6" style="text-align:center">
        @Html.Raw(Resources.Mix.ColumbariumApplicationFormBR)
    </div>
    <div class="col-md-3" style="text-align:right">
        @Model.ColumbariumTransactionDto.AF
    </div>
</div>

@{Html.RenderAction("Info", "ApplicantDeceaseds", new { applicantId = Model.ApplicantId, deceasedId = Model.ColumbariumTransactionDto.DeceasedDto1Id, area = "ApplicantDeceaseds" });}

@if (Model.ColumbariumTransactionDto.DeceasedDto2Id != null)
{
    { Html.RenderAction("Info", "ApplicantDeceaseds", new { applicantId = Model.ApplicantId, deceasedId = Model.ColumbariumTransactionDto.DeceasedDto2Id, showApplicant = false, area = "ApplicantDeceaseds" }); }
}

<h5 style="padding-top:5px"><u>@Model.ItemName</u></h5>

<div class="row flexrow">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.NicheBR)
    </div>
    <div class="col-md-3">
        @Model.NicheDto.Name
    </div>
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.TypeBR)
    </div>
    <div class="col-md-3">
        @Model.NicheDto.NicheTypeDto.Name
    </div>
</div>

<div class="row flexrow">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.RemarkBR)
    </div>
    <div class="col-md-3">
        @Model.ColumbariumTransactionDto.Remark
    </div>
</div>

