@model Memorial.ViewModels.AncestralTabletTransactionsInfoViewModel
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Print.cshtml";
}

@if (!Model.ExportToPDF)
{
    @Html.ActionLink("Print All", "PrintAll", new { AF = Model.AncestralTabletTransactionDto.AF })
}

@Html.Raw(Model.Header)

<div class="row flexrow">
    <div class="col-md-3" style="text-align:left">
        <span>Transaction Date</span><br />
        <span data-utcDate="@Model.AncestralTabletTransactionDto.CreatedUtcTime.ToString("yyyy-MM-dd HH:mm")"></span>
    </div>
    <div class="col-md-6" style="text-align:center">
        @Html.Raw(Resources.Mix.AncestralTabletApplicationFormBR)
    </div>
    <div class="col-md-3" style="text-align:right">
        @Model.AncestralTabletTransactionDto.AF
    </div>
</div>

@{Html.RenderAction("Info", "ApplicantDeceaseds", new { applicantId = Model.ApplicantId, deceasedId = Model.AncestralTabletTransactionDto.DeceasedDtoId, area = "ApplicantDeceaseds" });}

<div class="row flexrow">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.No_BR)
    </div>
    <div class="col-md-3">
        @Model.AncestralTabletTransactionDto.AncestralTabletDto.Name
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.AncestralTabletLabelBR)
    </div>
    <div class="col-md-3">
        @Model.AncestralTabletTransactionDto.Label
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.PriceBR)
    </div>
    <div class="col-md-3">
        @Model.AncestralTabletTransactionDto.Price
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.MaintenanceFeesBR)
    </div>
    <div class="col-md-3">
        @Model.AncestralTabletTransactionDto.Maintenance
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.RemarkBR)
    </div>
    <div class="col-md-3">
        @Model.AncestralTabletTransactionDto.Remark
    </div>
</div>

