@model Memorial.ViewModels.CremationItemIndexesViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.CremationItemName</h2>

@if (Model.AllowNew)
{
    <p>
        @Html.ActionLink(Resources.Mix.New, "Form", new { itemId = Model.CremationItemId, applicantId = Model.ApplicantId, area = "Cremation" })
    </p>
}

@using (Html.BeginForm("Index", "Orders", new { area = "Cremation" }))
{
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.FindByName)
        </div>
        <div class="col-md-6 input-group">
            @Html.TextBoxFor(f => f.Filter, null, new { @id = "filter", @class = "form-control" })
            <input type="submit" value=@Html.Raw(Resources.Mix.Search) class="btn btn-secondary" />
        </div>
    </div>
    @Html.Hidden("itemId", Model.CremationItemId.ToString())
    @Html.Hidden("applicantId", Model.ApplicantId.ToString())
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.AFBR)</th>
            <th>@Html.Raw(Resources.Mix.ItemBR)</th>
            <th>@Html.Raw(Resources.Mix.ApplicantBR)</th>
            <th>@Html.Raw(Resources.Mix.DeceasedBR)</th>
            <th>@Html.Raw(Resources.Mix.PriceBR)</th>
            <th>@Html.Raw(Resources.Mix.CremateDateBR)</th>
            <th>@Html.Raw(Resources.Mix.CreateDateBR)</th>
            <th>@Html.Raw(Resources.Mix.InvoiceBR)</th>
            <th>@Html.Raw(Resources.Mix.EditBR)</th>
            <th>@Html.Raw(Resources.Mix.DeleteBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cremationTransaction in Model.CremationTransactionDtos)
        {
            <tr>
                <td>@Html.ActionLink(cremationTransaction.AF, "Info", new { AF = cremationTransaction.AF }, new { target = "CremationTransactionInfo" })</td>
                <td>@cremationTransaction.CremationItemDto.SubProductServiceDto.Name</td>
                <td>@cremationTransaction.ApplicantDto.Name &nbsp; @cremationTransaction.ApplicantDto.Name2</td>
                <td>@cremationTransaction.DeceasedDto.Name &nbsp; @cremationTransaction.DeceasedDto.Name2</td>
                <td>@cremationTransaction.Price</td>
                <td>@cremationTransaction.CremateDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@cremationTransaction.CreateDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@Html.ActionLink(Resources.Mix.Invoice, "Invoices", new { AF = cremationTransaction.AF, area = "Cremation" })</td>
                <td>@Html.ActionLink(Resources.Mix.Edit, "Form", new { AF = cremationTransaction.AF, applicantId = Model.ApplicantId, area = "Cremation" })</td>
                <td>
                    @Html.ActionLink(Resources.Mix.Delete, "Delete",
                    new { AF = cremationTransaction.AF, itemId = Model.CremationItemId, applicantId = Model.ApplicantId, area = "Cremation" },
                    new { @class = "btn btn-danger btn-sm", onclick = "return confirm(MEMORIAL_CONFIRM);" })
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.CremationTransactionDtos.PageCount < Model.CremationTransactionDtos.PageNumber ? 0 : Model.CremationTransactionDtos.PageNumber) of @Model.CremationTransactionDtos.PageCount
@Html.PagedListPager(Model.CremationTransactionDtos, page => Url.Action("Index",
    new { page, itemId = Model.CremationItemId.ToString(), applicantId = Model.ApplicantId.ToString(), filter = ViewBag.CurrentFilter }))


