@model Memorial.ViewModels.CremationTransactionsInfoViewModel
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Print.cshtml";
}

@if (!Model.ExportToPDF)
{
    @Html.ActionLink("Print All", "PrintAll", new { AF = Model.CremationTransactionDto.AF })
}

@*<table style="width:100%">
    <tr>
        <td style="text-align:right">
            <img src="~/Images/cemeterylogo.jpg" style="height:200px"/>
        </td>
        <td style="float:left">
            <div style="text-align:center">
                <span style="font-size:30pt; font-family: KaiTi; font-weight:bold">
                    甲洞華人義山機構<br />
                </span>
                <span style="font-size: 15pt; font-family: 'Times New Roman'; font-weight: bold">
                    CHINESE CEMETERY ASSOCIATION OF<br />
                </span>
                <span style="font-size: 15pt; font-family: 'Times New Roman'; font-weight: bold">
                    KEPONG, JINJANG & BATU VILLAGE.<br />
                </span>
                <span style="font-size: 10pt; font-family: 'Times New Roman'">
                    LOT 182, JALAN JAMBU ARANG DUA,<br />
                </span>
                <span style="font-size: 10pt; font-family: 'Times New Roman'">
                    JINJANG SELATAN, 5200 KUALA LUMPUR.<br />
                </span>
                <span style="font-size: 10pt; font-family: 'Times New Roman'">Tel: 03-6251 9771&nbsp;&nbsp;&nbsp;Fax: 03-6257 5293&nbsp;&nbsp;&nbsp;E-MAIL: cca8402@gmail.com</span>
            </div>
        </td>
    </tr>
</table>*@

@Html.Raw(Model.Header)

<div class="row flexrow">
    <div class="col-md-3" style="text-align:left">
        <span>Transaction Date</span><br />
        <span>@Model.CremationTransactionDto.CreateDate.ToString("yyyy-MMM-dd")</span>
    </div>
    <div class="col-md-6" style="text-align:center">
        @Html.Raw(Resources.Mix.CremationApplicationFormBR)
    </div>
    <div class="col-md-3" style="text-align:right">
        @Model.CremationTransactionDto.AF
    </div>
</div>

@{Html.RenderAction("Info", "ApplicantDeceaseds", new { applicantId = Model.ApplicantId, deceasedId = Model.DeceasedId, area = "ApplicantDeceaseds" });}

<h5 style="padding-top:5px"><u>@Html.Raw(Resources.Mix.Cremation)</u></h5>
<div class="row flexrow">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.CremateDateBR)
    </div>
    <div class="col-md-3">
        @Model.CremationTransactionDto.CremateDate.ToString("yyyy-MMM-dd hh:mm:ss tt")
    </div>
</div>
<div class="row flexrow">
    <div class="col-md-6">
        @Html.Raw(Resources.Mix.FuneralArrangementEntrustedBR)
    </div>
    <div class="col-md-6">
        @Model.CremationTransactionDto.FuneralCompany.Name
    </div>
</div>
<br />
<p>
    @Html.Raw(Resources.Mix.Agreement)
</p>

