@model Memorial.ViewModels.AncestralTabletAreaIndexesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Raw(Resources.Mix.AncestralTablet)</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.No_BR)</th>
            <th>@Html.Raw(Resources.Mix.DescriptionBR)</th>
            <th>@Html.Raw(Resources.Mix.RemarkBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ancestralTabletArea in Model.AncestralTabletAreaDtos)
        {
            <tr>
                <td>@Html.ActionLink(ancestralTabletArea.Name, "AncestralTablets", new { areaId = ancestralTabletArea.Id, applicantId = Model.ApplicantId })</td>
                <td>@ancestralTabletArea.Description</td>
                <td>@ancestralTabletArea.Remark</td>
            </tr>
        }
    </tbody>
</table>
