@model Memorial.ViewModels.AncestralTabletItemsViewModel
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Raw(Resources.Mix.Items)</h2>

@{Html.RenderAction("AncestralTabletInfo", "AncestralTablets", new { id = Model.AncestralTabletDto.Id, area = "AncestralTablet" });}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.No_BR)</th>
            <th>@Html.Raw(Resources.Mix.DescriptionBR)</th>
            <th>@Html.Raw(Resources.Mix.RemarkBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ancestralTabletItem in Model.AncestralTabletItemDtos)
        {
            <tr>
                <td>@Html.ActionLink(ancestralTabletItem.Name, "Index", ancestralTabletItem.SystemCode, new { area = "AncestralTablet", itemId = ancestralTabletItem.Id, id = Model.AncestralTabletDto.Id, applicantId = Model.ApplicantId }, null)</td>
                <td>@ancestralTabletItem.Description</td>
                <td>@ancestralTabletItem.Price</td>
            </tr>
        }
    </tbody>
</table>