@model Memorial.ViewModels.CemeteryTransactionsFormViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("Index", "ApplicantDeceaseds", new { area = "ApplicantDeceaseds", id = Model.CemeteryTransactionDto.ApplicantDtoId });}

<h2>@Html.Raw(Resources.Mix.Form)</h2>

@using (Html.BeginForm("Save", "Orders", new { area = "Cemetery" }))
{
    @Model.CemeteryTransactionDto.AF
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.DeceasedBR)
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(c => c.CemeteryTransactionDto.DeceasedDto1Id, new SelectList(Model.DeceasedBriefDtos, "Id", "Name"), "請選擇 Please Select", new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.CemeteryTransactionDto.DeceasedDto1Id)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.PlotPriceBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.CemeteryTransactionDto.Price, new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(c => c.CemeteryTransactionDto.Price)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.TurfMaintenanceFeesBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.CemeteryTransactionDto.Maintenance, new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(c => c.CemeteryTransactionDto.Maintenance)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.DigPriceBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.CemeteryTransactionDto.Dig, new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(c => c.CemeteryTransactionDto.Dig)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.BrickPriceBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.CemeteryTransactionDto.Brick, new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(c => c.CemeteryTransactionDto.Brick)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.WallPriceBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.CemeteryTransactionDto.Wall, new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(c => c.CemeteryTransactionDto.Wall)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.FuneralArrangementEntrustedBR)
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(c => c.CemeteryTransactionDto.FuneralCompanyDtoId, new SelectList(Model.FuneralCompanyDtos, "Id", "Name"), "請選擇 Please Select", new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.CemeteryTransactionDto.FuneralCompanyDtoId)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.RemarkBR)
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(c => c.CemeteryTransactionDto.Remark, new { @class = "form-control" })
        </div>
    </div>
    @Html.HiddenFor(c => c.CemeteryTransactionDto.CemeteryItemId)
    @Html.HiddenFor(c => c.CemeteryTransactionDto.PlotDtoId)
    @Html.HiddenFor(c => c.CemeteryTransactionDto.ApplicantDtoId)
    @Html.HiddenFor(c => c.CemeteryTransactionDto.AF)
    <button type="submit" class="btn btn-primary">@Html.Raw(Resources.Mix.Save)</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/jqueryuicss")

    <script type="text/javascript">

        $(document).ready(function () {

            $.validator.addMethod("AtLeastOne", function (value, element, arg) {
                if (value >= 1)
                    return true;
                return false;
            }, MEMORIAL_AT_LEAST_ONE);

            $.validator.addMethod("AtLeastZero", function (value, element, arg) {
                if (value >= 1)
                    return true;
                return false;
            }, MEMORIAL_AT_LEAST_ZERO);

            $("#CemeteryTransactionDto_Price").rules("add",
                {
                    AtLeastOne: true
                });

            $("#CemeteryTransactionDto_Maintenance").rules("add",
                {
                    AtLeastZero: true
                });

            $("#CemeteryTransactionDto_Dig").rules("add",
                {
                    AtLeastZero: true
                });

            $("#CemeteryTransactionDto_Brick").rules("add",
                {
                    AtLeastZero: true
                });

            $("#CemeteryTransactionDto_Wall").rules("add",
                {
                    AtLeastZero: true
                });
        });
    </script>
}