@model Memorial.ViewModels.CemeteryItemIndexesViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.CemeteryItemDto.SubProductServiceDto.Name</h2>

@if (Model.AllowNew)
{
    <p>
        @Html.ActionLink(Resources.Mix.New, "Form", new { itemId = Model.CemeteryItemDto.Id, applicantId = Model.ApplicantId, id = Model.PlotId, area = "Cemetery" })
    </p>
}

@using (Html.BeginForm("Index", "Orders", new { area = "Cemetery" }))
{
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.FindByName)
        </div>
        <div class="col-md-6 input-group">
            @Html.TextBoxFor(f => f.Filter, null, new { @id = "filter", @class = "form-control" })
            <input type="submit" value=@Html.Raw(Resources.Mix.Search) class="btn btn-secondary" />
        </div>
    </div>
    @Html.Hidden("itemId", Model.CemeteryItemDto.Id.ToString())
    @Html.Hidden("applicantId", Model.ApplicantId.ToString())
    @Html.Hidden("id", Model.PlotId.ToString())
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.AFBR)</th>
            <th>@Html.Raw(Resources.Mix.PlotBR)</th>
            <th>@Html.Raw(Resources.Mix.ApplicantBR)</th>
            <th>@Html.Raw(Resources.Mix.HasDeceasedBR)</th>
            <th>@Html.Raw(Resources.Mix.PriceBR)</th>
            <th>@Html.Raw(Resources.Mix.TurfMaintenanceFeesBR)</th>
            <th>@Html.Raw(Resources.Mix.DigPriceBR)</th>
            <th>@Html.Raw(Resources.Mix.BrickPriceBR)</th>
            <th>@Html.Raw(Resources.Mix.WallPriceBR)</th>
            <th>@Html.Raw(Resources.Mix.CreateDateBR)</th>
            <th>@Html.Raw(Resources.Mix.InvoiceBR)</th>
            <th>@Html.Raw(Resources.Mix.EditBR)</th>
            <th>@Html.Raw(Resources.Mix.DeleteBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cemeteryTransaction in Model.CemeteryTransactionDtos)
        {
            <tr>
                <td>@Html.ActionLink(cemeteryTransaction.AF, "Info", new { AF = cemeteryTransaction.AF }, new { target = "CemeteryTransactionInfo" })</td>
                <td>@cemeteryTransaction.PlotDto.Name</td>
                <td>@cemeteryTransaction.ApplicantDto.Name &nbsp; @cemeteryTransaction.ApplicantDto.Name2</td>
                <td>@cemeteryTransaction.PlotDto.hasDeceased</td>
                <td>@cemeteryTransaction.Price</td>
                <td>@cemeteryTransaction.Maintenance</td>
                <td>@cemeteryTransaction.Dig</td>
                <td>@cemeteryTransaction.Brick</td>
                <td>@cemeteryTransaction.Wall</td>
                <td>@cemeteryTransaction.CreateDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@Html.ActionLink(Resources.Mix.Invoice, "Invoices", new { AF = cemeteryTransaction.AF, area = "Cemetery" })</td>
                <td>@Html.ActionLink(Resources.Mix.Edit, "Form", new { AF = cemeteryTransaction.AF, applicantId = Model.ApplicantId, area = "Cemetery" })</td>
                <td>
                    @Html.ActionLink(Resources.Mix.Delete, "Delete",
                    new { AF = cemeteryTransaction.AF, itemId = Model.CemeteryItemDto.Id, id = Model.PlotId, applicantId = Model.ApplicantId, area = "Cemetery" },
                    new { @class = "btn btn-danger btn-sm", onclick = "return confirm(MEMORIAL_CONFIRM);" })
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.CemeteryTransactionDtos.PageCount < Model.CemeteryTransactionDtos.PageNumber ? 0 : Model.CemeteryTransactionDtos.PageNumber) of @Model.CemeteryTransactionDtos.PageCount
@Html.PagedListPager(Model.CemeteryTransactionDtos, page => Url.Action("Index",
    new { page, id = Model.PlotId.ToString(), itemId = Model.CemeteryItemDto.Id.ToString(), applicantId = Model.ApplicantId.ToString(), filter = ViewBag.CurrentFilter }))



