@model Memorial.ViewModels.CemeteryItemIndexesViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (Model.AllowNew)
{
    <p>
        @Html.ActionLink("New", "Form", new { itemId = Model.CemeteryItemId, applicantId = Model.ApplicantId, id = Model.PlotId, area = "Plot" })
    </p>
}

@using (Html.BeginForm("Index", "Orders", new { area = "Plot" }))
{
    <p>
        Find by Name: @Html.TextBox("filter")
        @Html.Hidden("itemId", Model.CemeteryItemId.ToString())
        @Html.Hidden("applicantId", Model.ApplicantId.ToString())
        @Html.Hidden("id", Model.PlotId.ToString())
        <input type="submit" value="Search" class="btn btn-secondary" />
    </p>
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>AF</th>
            <th>Plot</th>
            <th>Applicant</th>
            <th>Has Deceased</th>
            <th>Price</th>
            <th>Maintenance</th>
            <th>Dig</th>
            <th>Brick</th>
            <th>Wall</th>
            <th>Create Date</th>
            <th>Invoice</th>
            <th>@Html.Raw(Resources.Mix.Edit)</th>
            <th>@Html.Raw(Resources.Mix.Delete)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cemeteryTransaction in Model.CemeteryTransactionDtos)
        {
            <tr>
                <td>@Html.ActionLink(cemeteryTransaction.AF, "Info", new { AF = cemeteryTransaction.AF }, new { target = "CemeteryTransactionInfo" })</td>
                <td>@cemeteryTransaction.PlotDto.Name</td>
                <td>@cemeteryTransaction.ApplicantDto.Name &nbsp; @cemeteryTransaction.ApplicantDto.Name2</td>
                <td>@cemeteryTransaction.PlotDto.hasDeceased</td>
                <td>@cemeteryTransaction.Price</td>
                <td>@cemeteryTransaction.Maintenance</td>
                <td>@cemeteryTransaction.Dig</td>
                <td>@cemeteryTransaction.Brick</td>
                <td>@cemeteryTransaction.Wall</td>
                <td>@cemeteryTransaction.CreateDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@Html.ActionLink("Invoice", "Invoices", new { AF = cemeteryTransaction.AF, area = "Plot" })</td>
                <td>@Html.ActionLink(Resources.Mix.Edit, "Form", new { AF = cemeteryTransaction.AF, applicantId = Model.ApplicantId, area = "Plot" })</td>
                <td>
                    @Html.ActionLink(Resources.Mix.Delete, "Delete",
                    new { AF = cemeteryTransaction.AF, itemId = Model.CemeteryItemId, id = Model.PlotId, applicantId = Model.ApplicantId, area = "Plot" },
                    new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are you sure?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.CemeteryTransactionDtos.PageCount < Model.CemeteryTransactionDtos.PageNumber ? 0 : Model.CemeteryTransactionDtos.PageNumber) of @Model.CemeteryTransactionDtos.PageCount
@Html.PagedListPager(Model.CemeteryTransactionDtos, page => Url.Action("Index",
    new { page, id = Model.PlotId.ToString(), itemId = Model.CemeteryItemId.ToString(), applicantId = Model.ApplicantId.ToString(), filter = ViewBag.CurrentFilter }))



