@model Memorial.ViewModels.CemeteryTransactionsInfoViewModel
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Print.cshtml";
}

@if (!Model.ExportToPDF)
{
    @Html.ActionLink("Print All", "PrintAll", new { AF = Model.CemeteryTransactionDto.AF })
    @Html.ActionLink("Print Rule - CN", "PrintRuleCN")
    @Html.ActionLink("Print Rule - BM", "PrintRuleBM")
}

@Html.Raw(Model.Header)

<div class="row flexrow">
    <div class="col-md-3" style="text-align:left">
        <span>Transaction Date</span><br />
        <span>@Model.CemeteryTransactionDto.CreateDate.ToString("yyyy-MMM-dd")</span>
    </div>
    <div class="col-md-6" style="text-align:center">
        @Html.Raw(Resources.Mix.CremationApplicationFormBR)
    </div>
    <div class="col-md-3" style="text-align:right">
        @Model.CemeteryTransactionDto.AF
    </div>
</div>

@{Html.RenderAction("Info", "ApplicantDeceaseds", new { applicantId = Model.ApplicantId, deceasedId = Model.DeceasedId, area = "ApplicantDeceaseds" });}

<h5 style="padding-top:5px"><u>@Model.ItemName</u></h5>
<div class="row flexrow">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.FuneralArrangementEntrustedBR)
    </div>
    <div class="col-md-3">
        @if (Model.CemeteryTransactionDto.FuneralCompanyDto != null)
        {
            @Model.CemeteryTransactionDto.FuneralCompanyDto.Name
        }
    </div>
</div>

<div class="row flexrow">
    <div class="col-md-6">
        <table>
            <tr>
                <td colspan="2">
                    @Html.Raw(Resources.Mix.MaintenanceDevelopmentExpensesBR)
                </td>
            </tr>
            <tr>
                <td>@Html.Raw(Resources.Mix.PlotPriceBR)</td>
                <td>@Model.CemeteryTransactionDto.Price</td>
            </tr>
            <tr>
                <td>@Html.Raw(Resources.Mix.TurfMaintenanceFeesBR)</td>
                <td>@Model.CemeteryTransactionDto.Maintenance</td>
            </tr>
            <tr>
                <td>@Html.Raw(Resources.Mix.WallPriceBR)</td>
                <td>@Model.CemeteryTransactionDto.Wall</td>
            </tr>
            <tr>
                <td>@Html.Raw(Resources.Mix.DigPriceBR)</td>
                <td>@Model.CemeteryTransactionDto.Dig</td>
            </tr>
            <tr>
                <td>@Html.Raw(Resources.Mix.BrickPriceBR)</td>
                <td>@Model.CemeteryTransactionDto.Brick</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>@Html.Raw(Resources.Mix.SiteBR)</td>
                            <td>@Model.PlotDto.CemeteryAreaDto.SiteDto.Name</td>
                            <td>@Html.Raw(Resources.Mix.No_BR)</td>
                            <td>@Model.PlotDto.Name</td>
                            <td>@Html.Raw(Resources.Mix.PlotTypeBR)</td>
                            <td>@Model.PlotDto.PlotTypeDto.Name</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Raw(Resources.Mix.AuthorisedSignatureOfApplicantBR)
                </td>
            </tr>
        </table>
        
    </div>
</div>
<br />
<p>
    @Html.Raw(Resources.Mix.Agreement)
</p>

