@model Memorial.ViewModels.CemeteryItemIndexesViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (Model.AllowNew)
{
    <p>
        @Html.ActionLink("New", "Form", new { itemId = Model.CemeteryItemId, id = Model.PlotId, area = "Cemeteries" })
    </p>
}

@using (Html.BeginForm("Index", "Reciprocates", new { area = "Cemeteries" }))
{
    <p>
        Find by Name: @Html.TextBox("filter")
        @Html.Hidden("itemId", Model.CemeteryItemId.ToString())
        @Html.Hidden("applicantId", Model.ApplicantId.ToString())
        <input type="submit" value="Search" class="btn btn-secondary" />
    </p>
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>AF</th>
            <th>Plot</th>
            <th>FengShuiMaster</th>
            <th>Amount</th>
            <th>Remark</th>
            <th>Create Date</th>
            <th>Receipt</th>
            <th>@Html.Raw(Resources.Mix.Edit)</th>
            <th>@Html.Raw(Resources.Mix.Delete)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cemeteryTransaction in Model.CemeteryTransactionDtos)
        {
            <tr>
                <td>@Html.ActionLink(cemeteryTransaction.AF, "Info", new { AF = cemeteryTransaction.AF }, new { target = "CemeteryTransactionInfo", area = "Cemeteries" })</td>
                <td>@cemeteryTransaction.PlotDto.Name</td>
                <td>@cemeteryTransaction.FengShuiMasterDto.Name</td>
                <td>@cemeteryTransaction.Price</td>
                <td>@cemeteryTransaction.Remark</td>
                <td>@cemeteryTransaction.CreateDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@Html.ActionLink("Receipt", "Receipts", new { AF = cemeteryTransaction.AF, area = "Cemeteries" })</td>
                <td>@Html.ActionLink(Resources.Mix.Edit, "Form", new { AF = cemeteryTransaction.AF, itemId = cemeteryTransaction.CemeteryItemId, area = "Cemeteries" })</td>
                <td>
                    @Html.ActionLink(Resources.Mix.Delete, "Delete",
                    new { AF = cemeteryTransaction.AF, itemId = cemeteryTransaction.CemeteryItemId, area = "Cemeteries" },
                    new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are you sure?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.CemeteryTransactionDtos.PageCount < Model.CemeteryTransactionDtos.PageNumber ? 0 : Model.CemeteryTransactionDtos.PageNumber) of @Model.CemeteryTransactionDtos.PageCount
@Html.PagedListPager(Model.CemeteryTransactionDtos, page => Url.Action("Index",
    new { page, itemId = Model.CemeteryItemId.ToString(), applicantId = Model.ApplicantId.ToString(), filter = ViewBag.CurrentFilter }))


