@model Memorial.ViewModels.CemeteryItemIndexesViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink(Model.PlotDto.CemeteryAreaDto.SiteDto.Name, "Catalog", "Menu", new { siteId = Model.PlotDto.CemeteryAreaDto.SiteDto.Id, applicantId = Model.ApplicantId, area = "Menu" }, null) >
@Html.ActionLink(Resources.Mix.Cemetery, "Index", "Cemeteries", new { siteId = Model.PlotDto.CemeteryAreaDto.SiteDto.Id, applicantId = Model.ApplicantId, area = "Cemetery" }, null) >
@Html.ActionLink(Model.PlotDto.CemeteryAreaDto.Name, "Index", "Cemeteries", new { siteId = Model.PlotDto.CemeteryAreaDto.SiteDto.Id, applicantId = Model.ApplicantId, area = "Cemetery" }, null) >
@Html.ActionLink(Model.PlotDto.Name, "Items", "Cemeteries", new { id = Model.PlotDto.Id, applicantId = Model.ApplicantId, area = "Cemetery" }, null)

<h2>@Model.CemeteryItemDto.SubProductServiceDto.Name</h2>

@if (Model.AllowNew)
{
    <p>
        @Html.ActionLink("New", "Form", new { itemId = Model.CemeteryItemDto.Id, id = Model.PlotId, area = "Cemetery" })
    </p>
}

@using (Html.BeginForm("Index", "Reciprocates", new { area = "Cemetery" }))
{
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.FindByName)
        </div>
        <div class="col-md-6 input-group">
            @Html.TextBoxFor(f => f.Filter, null, new { @id = "filter", @class = "form-control" })
            <input type="submit" value=@Html.Raw(Resources.Mix.Search) class="btn btn-secondary" />
        </div>
    </div>
    @Html.Hidden("itemId", Model.CemeteryItemDto.Id.ToString())
    @Html.Hidden("applicantId", Model.ApplicantId.ToString())
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.AFBR)</th>
            <th>@Html.Raw(Resources.Mix.PlotBR)</th>
            <th>@Html.Raw(Resources.Mix.FengShuiMasterBR)</th>
            <th>@Html.Raw(Resources.Mix.AmountBR)</th>
            <th>@Html.Raw(Resources.Mix.RemarkBR)</th>
            <th>@Html.Raw(Resources.Mix.CreateDateBR)</th>
            <th>@Html.Raw(Resources.Mix.ReceiptBR)</th>
            <th>@Html.Raw(Resources.Mix.EditBR)</th>
            <th>@Html.Raw(Resources.Mix.DeleteBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cemeteryTransaction in Model.CemeteryTransactionDtos)
        {
            <tr>
                <td>@Html.ActionLink(cemeteryTransaction.AF, "Info", new { AF = cemeteryTransaction.AF }, new { target = "CemeteryTransactionInfo", area = "Cemetery" })</td>
                <td>@cemeteryTransaction.PlotDto.Name</td>
                <td>@cemeteryTransaction.FengShuiMasterDto.Name</td>
                <td>@cemeteryTransaction.Price</td>
                <td>@cemeteryTransaction.Remark</td>
                <td>@cemeteryTransaction.CreatedDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@Html.ActionLink(Resources.Mix.Receipt, "Receipts", new { AF = cemeteryTransaction.AF, area = "Cemetery" })</td>
                <td>@Html.ActionLink(Resources.Mix.Edit, "Form", new { AF = cemeteryTransaction.AF, itemId = cemeteryTransaction.CemeteryItemDtoId, area = "Cemetery" })</td>
                <td>
                    @Html.ActionLink(Resources.Mix.Delete, "Delete",
                    new { AF = cemeteryTransaction.AF, itemId = cemeteryTransaction.CemeteryItemDtoId, area = "Cemetery" },
                    new { @class = "btn btn-danger btn-sm", onclick = "return confirm(MEMORIAL_CONFIRM);" })
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.CemeteryTransactionDtos.PageCount < Model.CemeteryTransactionDtos.PageNumber ? 0 : Model.CemeteryTransactionDtos.PageNumber) of @Model.CemeteryTransactionDtos.PageCount
@Html.PagedListPager(Model.CemeteryTransactionDtos, page => Url.Action("Index",
    new { page, itemId = Model.CemeteryItemDto.Id.ToString(), applicantId = Model.ApplicantId.ToString(), filter = ViewBag.CurrentFilter }))


