@model Memorial.ViewModels.ColumbariumInfoViewModel

<div class="form-group row">
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.Site)
    </div>
    <div class="col-md-2">
        @Model.SiteDto.Name
    </div>
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.Centre)
    </div>
    <div class="col-md-2">
        @Model.ColumbariumCentreDto.Name
    </div>
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.Area)
    </div>
    <div class="col-md-2">
        @Model.ColumbariumAreaDto.Name
    </div>
</div>
<div class="form-group row">
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.No_)
    </div>
    <div class="col-md-2">
        @Model.NicheDto.Name
    </div>
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.Description)
    </div>
    <div class="col-md-2">
        @Model.NicheDto.Description
    </div>
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.Type)
    </div>
    <div class="col-md-2">
        @Model.NicheDto.NicheTypeDto.Name
    </div>
</div>
<div class="form-group row">
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.Price)
    </div>
    <div class="col-md-2">
        @Model.NicheDto.Price
    </div>
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.Maintenance)
    </div>
    <div class="col-md-2">
        @Model.NicheDto.Maintenance
    </div>
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.LifeTimeMaintenance)
    </div>
    <div class="col-md-2">
        @Model.NicheDto.LifeTimeMaintenance
    </div>
</div>
<div class="form-group row">
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.X)
    </div>
    <div class="col-md-2">
        @Model.NicheDto.PositionX
    </div>
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.Y)
    </div>
    <div class="col-md-2">
        @Model.NicheDto.PositionY
    </div>
    <div class="col-md-2 font-weight-bold">
        @Html.Raw(Resources.Mix.Remark)
    </div>
    <div class="col-md-2">
        @Model.NicheDto.Remark
    </div>
</div>
<hr />
<h5>@Html.Raw(Resources.Mix.Applicant)</h5>
@if (Model.ApplicantDto == null)
{
    <div>@Html.Raw(Resources.Mix.NoRecord)</div>
}
else
{
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.EnglishName)
        </div>
        <div class="col-md-3">
            @Html.ActionLink(Model.ApplicantDto.Name, "Info", "Applicants", new { id = Model.ApplicantDto.Id }, null)
        </div>
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.ChineseName)
        </div>
        <div class="col-md-3">
            @Model.ApplicantDto.Name2
        </div>
    </div>
    if (Model.NumberOfPlacements == 1)
    {
        <h5>@Html.Raw(Resources.Mix.Deceased)</h5>
    }
    else
    {
        <h5>@Html.Raw(Resources.Mix.Deceased)1</h5>
    }
    if (Model.DeceasedFlatten1Dto == null)
    {
        <div>@Html.Raw(Resources.Mix.NoRecord)</div>
    }
    else
    {
        <div class="form-group row">
            <div class="col-md-1">
                @Html.Raw(Resources.Mix.EnglishName)
            </div>
            <div class="col-md-2">
                @Html.ActionLink(Model.DeceasedFlatten1Dto.DeceasedName, "Info", "Deceaseds", new { id = Model.DeceasedFlatten1Dto.DeceasedId }, null)
            </div>
            <div class="col-md-1">
                @Html.Raw(Resources.Mix.ChineseName)
            </div>
            <div class="col-md-2">
                @Model.DeceasedFlatten1Dto.DeceasedName2
            </div>
            <div class="col-md-2">
                @Html.Raw(Resources.Mix.Relationship)
            </div>
            <div class="col-md-2">
                @Model.DeceasedFlatten1Dto.RelationshipTypeName
            </div>
        </div>
    }
    if (Model.NumberOfPlacements == 2)
    {
        <h5>@Html.Raw(Resources.Mix.Deceased)2</h5>
        if (Model.DeceasedFlatten2Dto == null)
        {
            <div>@Html.Raw(Resources.Mix.NoRecord)</div>
        }
        else
        {
            <div class="form-group row">
                <div class="col-md-1">
                    @Html.Raw(Resources.Mix.EnglishName)
                </div>
                <div class="col-md-1">
                    @Html.ActionLink(Model.DeceasedFlatten2Dto.DeceasedName, "Info", "Deceaseds", new { id = Model.DeceasedFlatten2Dto.DeceasedId }, null)
                </div>
                <div class="col-md-2">
                    @Html.Raw(Resources.Mix.ChineseName)
                </div>
                <div class="col-md-2">
                    @Model.DeceasedFlatten2Dto.DeceasedName2
                </div>
                <div class="col-md-2">
                    @Html.Raw(Resources.Mix.Relationship)
                </div>
                <div class="col-md-2">
                    @Model.DeceasedFlatten2Dto.RelationshipTypeName
                </div>
            </div>
        }
    }
    <div class="form-group row">
        <div class="col-md-3">
            @Html.ActionLink("Install/Remove", "Index", "NicheDeceaseds", new { id = Model.NicheDto.Id }, null)
        </div>
    </div>
}