@model Memorial.ViewModels.AncestralTabletTransactionsFormViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("ApplicantBrief", "Applicants", new { id = Model.AncestralTabletTransactionDto.ApplicantId, area = "Applicant" });}

<h2>@Html.Raw(Resources.Mix.Form)</h2>

@using (Html.BeginForm("Save", "Shifts", new { area = "AncestralTablet" }))
{
    @Model.AncestralTabletTransactionDto.AF

    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.AncestralTabletBR)
        </div>
        <div class="col-md-6">
            @Model.AncestralTabletTransactionDto.AncestralTablet.Name
        </div>
    </div>
    if (Model.AncestralTabletTransactionDto.AF == null)
    {
        <div class="form-group row">
            <div class="col-md-3">
                HasDeceased
            </div>
            <div class="col-md-6">
                @Model.AncestralTabletTransactionDto.AncestralTablet.hasDeceased
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-9">
                @Html.Raw(Resources.Mix.ShiftToBR)
            </div>
        </div>
    }
    else
    {
        <div class="form-group row">
            <div class="col-md-9">
                @Html.Raw(Resources.Mix.ShiftedToBR)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                @Html.Raw(Resources.Mix.AncestralTabletBR)
            </div>
            <div class="col-md-6">
                @Model.AncestralTabletTransactionDto.AncestralTablet.Name
            </div>
        </div>
        <hr />
        <div>@Html.Raw(Resources.Mix.ChangeToBR)</div>
    }
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.SiteBR)
        </div>
        <div class="col-md-6">
            <select id="Sites" class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.AreaBR)
        </div>
        <div class="col-md-6">
            <select id="Areas" class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.AncestralTabletBR)
        </div>
        <div class="col-md-6">
            <select id="AncestralTablets" class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            @Html.Raw(Resources.Mix.No_BR)
        </div>
        <div class="col-md-2">
            @Html.Raw(Resources.Mix.PriceBR)
        </div>
        <div class="col-md-2">
            @Html.Raw(Resources.Mix.MaintenanceFeesBR)
        </div>
        <div class="col-md-1">
            @Html.Raw(Resources.Mix.RemarkBR)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2" id="qName"></div>
        <div class="col-md-2" id="qPrice">
            @Html.TextBoxFor(c => c.AncestralTabletTransactionDto.Price, new { @class = "form-control", @required = Resources.Mix.Required })
        </div>
        <div class="col-md-2" id="qMaintenance">
            @Html.TextBoxFor(c => c.AncestralTabletTransactionDto.Maintenance, new { @class = "form-control", @required = Resources.Mix.Required })
        </div>
        <div class="col-md-1" id="qRemark"></div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.RemarkBR)
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(c => c.AncestralTabletTransactionDto.Remark, new { @class = "form-control" })
        </div>
    </div>

    @Html.HiddenFor(c => c.AncestralTabletTransactionDto.AncestralTabletItemId)
    @Html.HiddenFor(c => c.AncestralTabletTransactionDto.ShiftedAncestralTabletId)
    @Html.HiddenFor(c => c.AncestralTabletTransactionDto.ShiftedAncestralTabletTransactionAF)
    @Html.HiddenFor(c => c.AncestralTabletTransactionDto.AncestralTabletId)
    @Html.HiddenFor(c => c.AncestralTabletTransactionDto.ApplicantId)
    @Html.HiddenFor(c => c.AncestralTabletTransactionDto.AF)
    <button type="submit" class="btn btn-primary">@Html.Raw(Resources.Mix.Save)</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/jqueryuicss")

    <script>
        function sites() {
            $.ajax({
                url: "/api/Sites/GetSites"
            })
                .done(function (response) {
                    var len = response.length;
                    $("#Sites").empty();
                    $("#Sites").append("<option value='0'>Please Select</option>");
                    for (var i = 0; i < len; i++) {
                        var id = response[i]['id'];
                        var name = response[i]['name'];
                        $("#Sites").append("<option value='" + id + "'>" + name + "</option>");
                    }
                })
                .fail(function () {
                    toastr.error("Something unexpected happened.");
                });
        }

        function areas() {
            $.ajax({
                url: "/api/AncestralTablets/GetArea",
                data: { siteId: $("#Sites").val() }
            })
                .done(function (response) {
                    var len = response.length;
                    $("#Areas").empty();
                    $("#Areas").append("<option value='0'>Please Select</option>");
                    for (var i = 0; i < len; i++) {
                        var id = response[i]['id'];
                        var name = response[i]['name'];
                        $("#Areas").append("<option value='" + id + "'>" + name + "</option>");
                    }
                })
                .fail(function () {
                    toastr.error("Something unexpected happened.");
                });
        }

        function ancestralTablets() {
            $.ajax({
                url: "/api/AncestralTablets/GetAvailableAncestralTabletByAreaId",
                data: { areaId: $("#Areas").val() }
            })
                .done(function (response) {
                    var len = response.length;
                    $("#AncestralTablets").empty();
                    $("#AncestralTablets").append("<option value='0'>Please Select</option>");
                    for (var i = 0; i < len; i++) {
                        var id = response[i]['id'];
                        var name = response[i]['name'];
                        $("#AncestralTablets").append("<option value='" + id + "'>" + name + "</option>");
                    }
                })
                .fail(function () {
                    toastr.error("Something unexpected happened.");
                });
        }

        function clearAncestralTablet() {
            $("#qName").empty();
            $("#AncestralTabletTransactionDto_Price").val('');
            $("#AncestralTabletTransactionDto_Maintenance").val('');
            $("#AncestralTabletTransactionDto_AncestralTabletId").val('');
            $("#qRemark").empty();
        }

        function ancestralTablet() {
            clearAncestralTablet();

            $.ajax({
                url: "/api/AncestralTablets/GetAncestralTablet",
                data: { id: $("#AncestralTablets").val() }
            })
                .done(function (response) {
                    if (response != null) {
                        $("#qName").html(response['name']);
                        $("#AncestralTabletTransactionDto_Price").val(response['price']);
                        $("#AncestralTabletTransactionDto_Maintenance").val(response['maintenance']);
                        $("#qRemark").html(response['remark']);
                        $("#AncestralTabletTransactionDto_AncestralTabletId").val(response['id']);
                    }
                })
                .fail(function () {
                    toastr.error("Something unexpected happened.");
                });
        }

        $(document).ready(function () {
            sites();

            $("#Sites").change(function () {
                $("#Areas").empty();
                $("#AncestralTablets").empty();
                clearAncestralTablet();

                if ($(this).val() != 0) {
                    areas();
                }
            })

            $("#Areas").change(function () {
                $("#AncestralTablets").empty();
                clearAncestralTablet();

                if ($(this).val() != 0) {
                    ancestralTablets();
                }
            });

            $("#AncestralTablets").change(function () {
                clearAncestralTablet();

                if ($(this).val() != 0) {
                    ancestralTablet();
                }
            });
        });

    </script>

}
