@model Memorial.Core.Dtos.UrnTransactionDto
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("Index", "ApplicantDeceaseds", new { area = "ApplicantDeceaseds", id = Model.ApplicantId });}

<h2>@Html.Raw(Resources.Mix.Form)</h2>

@using (Html.BeginForm("Save", "Purchases", new { area = "Urn" }))
{
    @Model.AF
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.PriceBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(u => u.Price, new { @class = "form-control", @required = Resources.Mix.Required })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.RemarkBR)
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(u => u.Remark, new { @class = "form-control" })
        </div>
    </div>

    @Html.HiddenFor(u => u.UrnItemId)
    @Html.HiddenFor(u => u.ApplicantId)
    <button type="submit" class="btn btn-primary">@Html.Raw(Resources.Mix.Save)</button>
}
