@model Memorial.ViewModels.UrnItemIndexesViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.UrnItemName</h2>

@if (Model.AllowNew)
{
    <p>
        @Html.ActionLink(Resources.Mix.New, "Form", new { itemId = Model.UrnItemId, applicantId = Model.ApplicantId, area = "Urn" })
    </p>
}

@using (Html.BeginForm("Index", "Purchases", new { area = "Urn" }))
{
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.FindByName)
        </div>
        <div class="col-md-6 input-group">
            @Html.TextBoxFor(f => f.Filter, null, new { @id = "filter", @class = "form-control" })
            <input type="submit" value=@Html.Raw(Resources.Mix.Search) class="btn btn-secondary" />
        </div>
    </div>
    @Html.Hidden("itemId", Model.UrnItemId.ToString())
    @Html.Hidden("applicantId", Model.ApplicantId.ToString())
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.AFBR)</th>
            <th>@Html.Raw(Resources.Mix.UrnBR)</th>
            <th>@Html.Raw(Resources.Mix.ApplicantBR)</th>
            <th>@Html.Raw(Resources.Mix.PriceBR)</th>
            <th>@Html.Raw(Resources.Mix.RemarkBR)</th>
            <th>@Html.Raw(Resources.Mix.CreateDateBR)</th>
            <th>@Html.Raw(Resources.Mix.InvoiceBR)</th>
            <th>@Html.Raw(Resources.Mix.EditBR)</th>
            <th>@Html.Raw(Resources.Mix.DeleteBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urnTransaction in Model.UrnTransactionDtos)
        {
            <tr>
                <td>@Html.ActionLink(urnTransaction.AF, "Info", new { AF = urnTransaction.AF }, new { target = "UrnTransactionInfo" })</td>
                <td>@urnTransaction.UrnItemDto.SubProductServiceDto.Name</td>
                <td>@urnTransaction.ApplicantDto.Name &nbsp; @urnTransaction.ApplicantDto.Name2</td>
                <td>@urnTransaction.Price</td>
                <td>@urnTransaction.Remark</td>
                <td>@urnTransaction.CreatedDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@Html.ActionLink(Resources.Mix.Invoice, "Invoices", new { AF = urnTransaction.AF, area = "Urn" })</td>
                <td>@Html.ActionLink(Resources.Mix.Edit, "Form", new { AF = urnTransaction.AF, itemId = urnTransaction.UrnItemDtoId, applicantId = Model.ApplicantId, area = "Urn" })</td>
                <td>
                    @Html.ActionLink(Resources.Mix.Delete, "Delete",
                    new { AF = urnTransaction.AF, itemId = urnTransaction.UrnItemDtoId, applicantId = Model.ApplicantId, area = "Urn" },
                    new { @class = "btn btn-danger btn-sm", onclick = "return confirm(MEMORIAL_CONFIRM);" })
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.UrnTransactionDtos.PageCount < Model.UrnTransactionDtos.PageNumber ? 0 : Model.UrnTransactionDtos.PageNumber) of @Model.UrnTransactionDtos.PageCount
@Html.PagedListPager(Model.UrnTransactionDtos, page => Url.Action("Index",
    new { page, itemId = Model.UrnItemId.ToString(), applicantId = Model.ApplicantId.ToString(), filter = ViewBag.CurrentFilter }))


