@model Memorial.ViewModels.UrnTransactionsInfoViewModel
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Print.cshtml";
}

@if (!Model.ExportToPDF)
{
    @Html.ActionLink("Print All", "PrintAll", new { AF = Model.UrnTransactionDto.AF })
}

@Html.Raw(Model.Header)

<div class="row flexrow">
    <div class="col-md-3" style="text-align:left">
        <span>Transaction Date</span><br />
        <span>@Model.UrnTransactionDto.CreateDate.ToString("yyyy-MMM-dd")</span>
    </div>
    <div class="col-md-6" style="text-align:center">
        @Html.Raw(Resources.Mix.UrnApplicationFormBR)
    </div>
    <div class="col-md-3" style="text-align:right">
        @Model.UrnTransactionDto.AF
    </div>
</div>


@{Html.RenderAction("PartialViewInfo", "Applicants", new { id = Model.UrnTransactionDto.ApplicantId, area = "Applicant" });}

<div class="row">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.PriceBR)
    </div>
    <div class="col-md-3">
        @Model.UrnTransactionDto.Price
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.Raw(Resources.Mix.RemarkBR)
    </div>
    <div class="col-md-3">
        @Model.UrnTransactionDto.Remark
    </div>
</div>
