@model Memorial.ViewModels.AncestorItemIndexesViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (Model.AllowNew)
{
    <p>
        @Html.ActionLink("New", "Form", new { itemId = Model.AncestorItemId, applicantId = Model.ApplicantId, id = Model.AncestorId, area = "Ancestor" })
    </p>
}

@using (Html.BeginForm("Index", "Shifts", new { area = "Ancestor" }))
{
    <p>
        Find by Name: @Html.TextBox("filter")
        @Html.Hidden("itemId", Model.AncestorItemId.ToString())
        @Html.Hidden("applicantId", Model.ApplicantId.ToString())
        @Html.Hidden("id", Model.AncestorId.ToString())
        <input type="submit" value="Search" class="btn btn-secondary" />
    </p>
}


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>AF</th>
            @*<th>Ancestor</th>*@
            <th>From Ancestor</th>
            <th>Applicant</th>
            <th>Price</th>
            <th>Create Date</th>
            <th>Invoice</th>
            <th>@Html.Raw(Resources.Mix.Edit)</th>
            <th>@Html.Raw(Resources.Mix.Delete)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ancestorTransaction in Model.AncestorTransactionDtos)
        {
            <tr>
                <td>@Html.ActionLink(ancestorTransaction.AF, "Info", new { AF = ancestorTransaction.AF }, new { target = "AncestorTransactionInfo", area = "Ancestor" })</td>
                @*<td>@ancestorTransaction.ShiftedAncestor.Name</td>*@
                <td>@ancestorTransaction.Ancestor.Name</td>
                <td>@ancestorTransaction.Applicant.Name &nbsp; @ancestorTransaction.Applicant.Name2</td>
                <td>@ancestorTransaction.Price</td>
                <td>@ancestorTransaction.CreateDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@Html.ActionLink("Invoice", "Invoice", new { AF = ancestorTransaction.AF })</td>
                <td>@Html.ActionLink(Resources.Mix.Edit, "Form", new { AF = ancestorTransaction.AF, applicantId = Model.ApplicantId, area = "Ancestor" })</td>
                <td>
                    @Html.ActionLink(Resources.Mix.Delete, "Delete",
                    new { AF = ancestorTransaction.AF, itemId = Model.AncestorItemId, id = Model.AncestorId, applicantId = Model.ApplicantId, area = "Ancestor" },
                    new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are you sure?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.AncestorTransactionDtos.PageCount < Model.AncestorTransactionDtos.PageNumber ? 0 : Model.AncestorTransactionDtos.PageNumber) of @Model.AncestorTransactionDtos.PageCount
@Html.PagedListPager(Model.AncestorTransactionDtos, page => Url.Action("Index",
    new { page, id = Model.AncestorId.ToString(), itemId = Model.AncestorItemId.ToString(), applicantId = Model.ApplicantId.ToString(), filter = ViewBag.CurrentFilter }))


