@model Memorial.ViewModels.AppplicantDeceasedsIndexViewModel
<h4>Applicant</h4>

<div class="form-group row">
    <div class="col-md-3">
        IC
    </div>
    <div class="col-md-6">
        @Model.ApplicantDto.IC
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        Name
    </div>
    <div class="col-md-3">
        @Model.ApplicantDto.Name
    </div>
    <div class="col-md-3">
        Name2
    </div>
    <div class="col-md-3">
        @Model.ApplicantDto.Name2
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        Address
    </div>
    <div class="col-md-3">
        @Model.ApplicantDto.Address
    </div>
    <div class="col-md-3">
        Remark
    </div>
    <div class="col-md-3">
        @Model.ApplicantDto.Remark
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        Mobile Number
    </div>
    <div class="col-md-3">
        @Model.ApplicantDto.MobileNumber
    </div>
    <div class="col-md-3">
        House Phone
    </div>
    <div class="col-md-3">
        @Model.ApplicantDto.HousePhone
    </div>
</div>

<h4>Deceased</h4>

<div class="form-group row">
    <div class="col-md-12">
        @Html.ActionLink("New", "New", "Deceaseds", new { id = Model.ApplicantDto.Id }, new { @class = "btn btn-secondary btn-sm" })
        @Html.ActionLink("Link", "LinkDeceased", new { id = Model.ApplicantDto.Id }, new { @class = "btn btn-secondary btn-sm", @style = "padding-left:5px" })
    </div>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>English Name</th>
            <th>Chinese Name</th>
            <th>Relationship</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var deceased in Model.DeceasedDtos)
        {
            <tr>
                <td>@Html.ActionLink(deceased.Name, "Info", "Deceaseds", new { id = deceased.Id }, null)</td>
                <td>@deceased.Name2</td>
                <td>@Model.ApplicantDeceasedDtos.Where(a => a.DeceasedId == deceased.Id).FirstOrDefault().RelationshipType.Name</td>
                <td>@Html.ActionLink("Edit", "Edit", "Deceaseds", new { id = deceased.Id, applicantId = Model.ApplicantDto.Id }, null)</td>
            </tr>
        }
    </tbody>
</table>