<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCAKJB</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <style>
        .flexrow {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex !important;
        }
        .flexrow > div {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
        }
    </style>
    <div class="container body-content" style="padding-top:0px">
        @RenderBody()
        <hr />
        <footer>
            <p>Printed on @DateTime.Now.ToString("yyyy-MMM-dd HH:mm:ss")</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/lib")

    @RenderSection("scripts", required: false)
</body>
</html>