@model Memorial.ViewModels.UrnIndexesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink(Model.SiteDto.Name, "Catalog", "Menu", new { siteId = Model.SiteDto.Id, applicantId = Model.ApplicantId, area = "Menu" }, null) >

<h2>@Html.Raw(Resources.Mix.Urn)</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.NameBR)</th>
            <th>@Html.Raw(Resources.Mix.DescriptionBR)</th>
            <th>@Html.Raw(Resources.Mix.RemarkBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urn in Model.UrnDtos)
        {
            <tr>
                <td>@Html.ActionLink(urn.Name, "Items", new { urnId = urn.Id, applicantId = Model.ApplicantId, area = "Urn" })</td>
                <td>@urn.Description</td>
                <td>@urn.Remark</td>
            </tr>
        }
    </tbody>
</table>
