@model Memorial.ViewModels.UrnItemsViewModel
@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.NameBR)</th>
            <th>@Html.Raw(Resources.Mix.DeceasedBR)</th>
            <th>@Html.Raw(Resources.Mix.PriceBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urnItem in Model.UrnItemDtos)
        {
            <tr>
                <td>@Html.ActionLink(urnItem.Name, "Index", urnItem.SystemCode, new { itemId = urnItem.Id, applicantId = Model.ApplicantId, area = "Urn" }, null)</td>
                <td>@urnItem.Description</td>
                <td>@urnItem.Price</td>
            </tr>
        }
    </tbody>
</table>