@model Memorial.ViewModels.UrnItemsViewModel
@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink(Model.SiteDto.Name, "Catalog", "Menu", new { siteId = Model.SiteDto.Id, applicantId = Model.ApplicantId, area = "Menu" }, null) >
@Html.ActionLink(Resources.Mix.Urn, "Index", "Urns", new { siteId = Model.SiteDto.Id, applicantId = Model.ApplicantId, area = "Urn" }, null)

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.NameBR)</th>
            <th>@Html.Raw(Resources.Mix.DeceasedBR)</th>
            <th>@Html.Raw(Resources.Mix.PriceBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urnItem in Model.UrnItemDtos)
        {
            <tr>
                <td>@Html.ActionLink(urnItem.SubProductServiceDto.Name, "Index", urnItem.SubProductServiceDto.SystemCode, new { itemId = urnItem.Id, applicantId = Model.ApplicantId, area = "Urn" }, null)</td>
                <td>@urnItem.SubProductServiceDto.Description</td>
                <td>@urnItem.Price</td>
            </tr>
        }
    </tbody>
</table>