@model Memorial.ViewModels.SpaceTransactionsFormViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("Index", "ApplicantDeceaseds", new { area = "ApplicantDeceaseds", id = Model.SpaceTransactionDto.ApplicantId });}

<h2>@Html.Raw(Resources.Mix.Form)</h2>

@using (Html.BeginForm("Save", "Free", new { area = "Space" }))
{
    @Model.SpaceTransactionDto.AF
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.DeceasedBR)
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(s => s.SpaceTransactionDto.DeceasedId, new SelectList(Model.DeceasedBriefDtos, "Id", "Name"), "Please Select", new { @class = "form-control" })
            @Html.ValidationMessageFor(s => s.SpaceTransactionDto.DeceasedId)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.FuneralCompanyBR)
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(s => s.SpaceTransactionDto.FuneralCompanyId, new SelectList(Model.FuneralCompanyDtos, "Id", "Name"), "Please Select", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.FromBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(s => s.SpaceTransactionDto.FromDate, "{0:yyyy-MM-dd HH:mm}", new { @class = "form-control datetimepicker", @required = Resources.Mix.Required })
            @Html.ValidationMessageFor(s => s.SpaceTransactionDto.FromDate)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.ToBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(s => s.SpaceTransactionDto.ToDate, "{0:yyyy-MM-dd HH:mm}", new { @class = "form-control datetimepicker", @required = Resources.Mix.Required })
            @Html.ValidationMessageFor(s => s.SpaceTransactionDto.ToDate)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.RemarkBR)
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(s => s.SpaceTransactionDto.Remark, new { @class = "form-control" })
        </div>
    </div>

    @Html.HiddenFor(s => s.SpaceTransactionDto.SpaceItemId)
    @Html.HiddenFor(s => s.SpaceTransactionDto.SpaceItem.Space.Name)
    @Html.HiddenFor(s => s.SpaceTransactionDto.ApplicantId)
    @Html.HiddenFor(s => s.SpaceTransactionDto.AF)
    <button type="submit" class="btn btn-primary" id="btnSubmit">@Html.Raw(Resources.Mix.Save)</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/jqueryuicss")

    @Scripts.Render("~/bundles/jqueryui-timepicker")
    @Styles.Render("~/Content/jqueryuicss-timepicker")

    <script type="text/javascript">

        $("#SpaceTransactionDto_FromDate").blur(function () {
            getAvailability();
        });

        $("#SpaceTransactionDto_ToDate").blur(function () {
            getAvailability();
        });

        function getAvailability() {
            var f = $("#SpaceTransactionDto_FromDate").val();
            var t = $("#SpaceTransactionDto_ToDate").val();
            var sii = $("#SpaceTransactionDto_SpaceItemId").val();
            var af = $("#SpaceTransactionDto_AF").val();
            if (f != "" && t != "") {

                var paramdata = { from: f, to: t, spaceItemId: sii };
                if (af != "")
                    paramdata = { from: f, to: t, AF: af };

                var url = '/api/Spaces/GetAvailability';
                $.ajax({
                    url: url,
                    type: 'GET',
                    data: paramdata
                }).done(function (data) {
                    if (data) {
                        toastr.success("Date available");
                        $("#btnSubmit").prop("disabled", false);
                    }
                    else {
                        toastr.error("Date not available");
                        $("#btnSubmit").prop("disabled", true);
                    }
                }).fail(function () {
                    toastr.error("Something unexpected happened.");
                });
            }
        }

        $(document).ready(function () {   // will trigger when the document is ready

            var dateNow = new Date();
            $('.datepicker').datetimepicker({
                dateFormat: 'yy-mm-dd',
                defaultDate: dateNow
            }); //Initialise any date pickers
            $('.datetimepicker').datetimepicker({
                dateFormat: 'yy-mm-dd',
                timeFormat: 'HH:mm',
                defaultDate: dateNow
            }); //Initialise any date pickers
        });
    </script>

}