@model Memorial.ViewModels.SpaceItemIndexesViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.SpaceName</h2>
<h5>@Model.SpaceItemName</h5>

@if (Model.AllowNew)
{
    <p>
        @Html.ActionLink(Resources.Mix.New, "Form", new { itemId = Model.SpaceItemId, applicantId = Model.ApplicantId })
    </p>
}

@using (Html.BeginForm("Index", "Free", new { area = "Space" }))
{
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.FindByName)
        </div>
        <div class="col-md-6 input-group">
            @Html.TextBoxFor(f => f.Filter, null, new { @id = "filter", @class = "form-control" })
            <input type="submit" value=@Html.Raw(Resources.Mix.Search) class="btn btn-secondary" />
        </div>
    </div>
    @Html.Hidden("itemId", Model.SpaceItemId.ToString())
    @Html.Hidden("applicantId", Model.ApplicantId.ToString())
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.AFBR)</th>
            <th>@Html.Raw(Resources.Mix.FromBR)</th>
            <th>@Html.Raw(Resources.Mix.ToBR)</th>
            <th>@Html.Raw(Resources.Mix.RemarkBR)</th>
            <th>@Html.Raw(Resources.Mix.CreateDateBR)</th>
            <th>@Html.Raw(Resources.Mix.EditBR)</th>
            <th>@Html.Raw(Resources.Mix.DeleteBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var spaceTransaction in Model.SpaceTransactionDtos)
        {
            <tr>
                <td>@Html.ActionLink(spaceTransaction.AF, "Info", new { AF = spaceTransaction.AF }, new { target = "SpaceTransactionInfo" })</td>
                <td>@spaceTransaction.FromDate</td>
                <td>@spaceTransaction.ToDate</td>
                <td>@spaceTransaction.Remark</td>
                <td>@spaceTransaction.CreatedDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@Html.ActionLink(Resources.Mix.Edit, "Form", new { AF = spaceTransaction.AF, applicantId = Model.ApplicantId, area = "Space" })</td>
                <td>
                    @Html.ActionLink(Resources.Mix.Delete, "Delete",
                    new { AF = spaceTransaction.AF, itemId = Model.SpaceItemId, applicantId = Model.ApplicantId, area = "Space" },
                    new { @class = "btn btn-danger btn-sm", onclick = "return confirm(MEMORIAL_CONFIRM);" })
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.SpaceTransactionDtos.PageCount < Model.SpaceTransactionDtos.PageNumber ? 0 : Model.SpaceTransactionDtos.PageNumber) of @Model.SpaceTransactionDtos.PageCount
@Html.PagedListPager(Model.SpaceTransactionDtos, page => Url.Action("Index",
    new { page, itemId = Model.SpaceItemId.ToString(), applicantId = Model.ApplicantId.ToString(), filter = ViewBag.CurrentFilter }))


