@model Memorial.ViewModels.CemeteryTransactionsInfoViewModel
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Print.cshtml";
}

@if (!Model.ExportToPDF)
{
    @Html.ActionLink("Print All", "PrintAll", new { AF = Model.CemeteryTransactionDto.AF })
}

@Html.Raw(Model.Header)

捨金填泥規則及調查報告
<ol style="list-style:decimal">
    <li>
        捨金工作完成後, 填泥承包商必須將原基磚石, 鐵枝等廢料載走, 必須將墓穴填平及耕種草坪。
    </li>
    <li>
        捨金工作完成後30天內, 如有關者沒有將墓基磚石廢料搬走, 並將墓穴填平, 義山部將另行僱人從事上述工作, 一切費用將由填泥承包商負責。
    </li>
    <li>
        本規則若有未盡善之處, 本義山有權增刪與修正。
    </li>
</ol>

<h5 style="padding-top:5px"><u>@Html.Raw(Resources.Mix.Plot)</u></h5>
<div class="row flexrow">
    <div class="col-md-2">
        @Html.Raw(Resources.Mix.SiteBR)
    </div>
    <div class="col-md-2">
        @Model.PlotDto.CemeteryAreaDto.SiteDto.Name
    </div>
    <div class="col-md-2">
        @Html.Raw(Resources.Mix.No_BR)
    </div>
    <div class="col-md-2">
        @Model.PlotDto.Name
    </div>
    <div class="col-md-2">
        @Html.Raw(Resources.Mix.PlotTypeBR)
    </div>
    <div class="col-md-2">
        @Model.PlotDto.PlotTypeDto.Name
    </div>
</div>

經督工 ________________ 至現場調查證實, 墓碑編號穴已填泥, 墓碑及磗塊經已搬離捨金地點, 己施工完畢。


調查負責人簽名:___________________

日期: ___________

