@model Memorial.ViewModels.CemeteryTransactionsFormViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("Index", "ApplicantDeceaseds", new { area = "ApplicantDeceaseds", id = Model.CemeteryTransactionDto.ApplicantDtoId });}

<h2>@Html.Raw(Resources.Mix.Form)</h2>

@using (Html.BeginForm("Save", "Clearances", new { area = "Cemetery" }))
{
    @Model.CemeteryTransactionDto.AF
    <div class="form-group row">
        <div class="col-md-3">
            拾金日期
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.CemeteryTransactionDto.ClearanceDate, "{0:yyyy-MM-dd HH:mm}", new { @class = "form-control", @required = Resources.Mix.Required })
            @Html.ValidationMessageFor(c => c.CemeteryTransactionDto.ClearanceDate)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            起泥日期
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.CemeteryTransactionDto.ClearanceGroundDate, "{0:yyyy-MM-dd HH:mm}", new { @class = "form-control", @required = Resources.Mix.Required })
            @Html.ValidationMessageFor(c => c.CemeteryTransactionDto.ClearanceGroundDate)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.PriceBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.CemeteryTransactionDto.Price, new { @class = "form-control", @required = Resources.Mix.Required })
            @Html.ValidationMessageFor(c => c.CemeteryTransactionDto.Price)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.RemarkBR)
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(c => c.CemeteryTransactionDto.Remark, new { @class = "form-control" })
        </div>
    </div>
    @Html.HiddenFor(c => c.CemeteryTransactionDto.CemeteryItemId)
    @Html.HiddenFor(c => c.CemeteryTransactionDto.PlotDtoId)
    @Html.HiddenFor(c => c.CemeteryTransactionDto.ApplicantDtoId)
    @Html.HiddenFor(c => c.CemeteryTransactionDto.AF)
    <button type="submit" class="btn btn-primary">@Html.Raw(Resources.Mix.Save)</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/jqueryuicss")

    @Scripts.Render("~/bundles/jqueryui-timepicker")
    @Styles.Render("~/Content/jqueryuicss-timepicker")

    <script type="text/javascript">

        $(document).ready(function () {
            var dateNow = new Date();
            $('.datepicker').datetimepicker({
                dateFormat: 'yy-mm-dd',
                useCurrent: true,
                defaultDate: dateNow
            }); //Initialise any date pickers
            $('.datetimepicker').datetimepicker({
                dateFormat: 'yy-mm-dd',
                timeFormat: 'HH:mm',
                useCurrent: true,
                defaultDate: dateNow
            }); //Initialise any date pickers
            $.validator.addMethod("AtLeastOne", function (value, element, arg) {
                if (value >= 1)
                    return true;
                return false;
            }, "At least 1");

            $("#CemeteryTransactionDto_Price").rules("add",
                {
                    AtLeastOne: true
                });

        });
    </script>
}
