@model Memorial.ViewModels.CemeteryTransactionsInfoViewModel
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Print.cshtml";
}

@if (!Model.ExportToPDF)
{
    @Html.ActionLink("Print All", "PrintAll", new { AF = Model.CemeteryTransactionDto.AF, type="Info" })
    @Html.ActionLink("Print Form B", "PrintAll", new { AF = Model.CemeteryTransactionDto.AF, type = "FuneralCoInfo" })
    @Html.ActionLink("Print Approved Letter", "PrintAll", new { AF = Model.CemeteryTransactionDto.AF, type = "ApprovedInfo" })
    @Html.ActionLink("Print Survey Report", "PrintAll", new { AF = Model.CemeteryTransactionDto.AF, type = "ClearanceCheckInfo" })
}

@Html.Raw(Model.Header)

<div class="row flexrow">
    <div class="col-md-3" style="text-align:left">
        <span>Transaction Date</span><br />
        <span>@Model.CemeteryTransactionDto.CreatedDate.ToString("yyyy-MMM-dd")</span>
    </div>
    <div class="col-md-6" style="text-align:center">
        @Html.Raw(Resources.Mix.ClearanceApplicationFormBR)
    </div>
    <div class="col-md-3" style="text-align:right">
        @Model.CemeteryTransactionDto.AF
    </div>
</div>

@{Html.RenderAction("Info", "ApplicantDeceaseds", new { applicantId = Model.ApplicantId, deceasedId = Model.CemeteryTransactionDto.DeceasedDto1Id, area = "ApplicantDeceaseds" });}

@if (Model.CemeteryTransactionDto.DeceasedDto2Id != null)
{
    { Html.RenderAction("Info", "ApplicantDeceaseds", new { applicantId = Model.ApplicantId, deceasedId = Model.CemeteryTransactionDto.DeceasedDto2Id, showApplicant = false, area = "ApplicantDeceaseds" }); }
}

@if (Model.CemeteryTransactionDto.DeceasedDto3Id != null)
{
    { Html.RenderAction("Info", "ApplicantDeceaseds", new { applicantId = Model.ApplicantId, deceasedId = Model.CemeteryTransactionDto.DeceasedDto3Id, showApplicant = false, area = "ApplicantDeceaseds" }); }
}

<div class="row flexrow">
    <div class="col-md-3">
        拾金寶號
    </div>
    <div class="col-md-3">
        @Model.CemeteryTransactionDto.FuneralCompanyDto.Name
    </div>
</div>

<div class="row flexrow">
    <div class="col-md-3">
        拾金日期
    </div>
    <div class="col-md-3">
        @Model.CemeteryTransactionDto.ClearanceDate.Value.ToString("yyyy-MMM-dd HH:mm")
    </div>
</div>

<div class="row flexrow">
    <div class="col-md-3">
        起泥日期
    </div>
    <div class="col-md-3">
        @Model.CemeteryTransactionDto.ClearanceGroundDate.Value.ToString("yyyy-MMM-dd HH:mm")
    </div>
</div>

捨金條例
<ol style="list-style:decimal">
    <li>
        主家欲將安葬於本義山墓位之先人遺骨遷移他處者, 主家及承包商必須辦理遷葬手續, 填寫捨金申請書 ( 申請者及承包商需在捨金規章下簽署), 申請者需複印以下的文件 A)身份證 B)墓地收據 C)墓地編號及葬地地點 D)生死局證及葬紙 E)新的安葬處證明, 家屬或繼承人來函證明的授權書及承包商資料等。
    </li>
    <li>
        申讀者先把申請表格填妥交於本義山辦事處, 經有關部門審查後, 由本義山核對資料無誤, 本義山機構負責人將會在30天內致函通知。
    </li>
    <li>
        主家必須通知本義山捨金日期及繳付手續費及清理費, 單穴RM850.00, 雙穴RM1600.00, 主家或捨金承包商方可施工。
    </li>
    <li>
        挖掘墓地與捨金過程, 必須確保不損壞鄰近的墳墓及義山各項設施, 如有損壞, 主家與捨金者負責賠。
    </li>
    <li>
        捨金後的墓地擁有權, 將無條件歸本義山所擁, 不得有異議。
    </li>
    <li>
        本機構有權不批准沒根據本義山捨金規章之任何申請, 如資料不齊全等。
    </li>
    <li>
        如未遵照規則行事而蟺自啟攒或遷葬者及發覺主家欺騙本義山機構, 本義山將向警方舉報一切交由警方處理, 並保留依法處理的權利, 申請人需承擔所有法律責任。
    </li>
    <li>
        捨金者必須遵守本義山所遈供的固定位置清洗柤先骨骸。
    </li>
    <li>
        捨金承包商必須於捨金當天出示捨金批進信, 經義山調查員證實無誤, 方可動者, 違規者今後不得再在本義山承包任何工作。
    </li>
    <li>
        本規則若有未盡善之處, 本義屲有權增剛與修正。
    </li>
</ol>

