@model Memorial.ViewModels.CremationFormViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@Html.ActionLink(Resources.Mix.Cremation, "Index", "Links", null, null, "Cremation", new { area = "ConfigLink" }, null)</h4>
<form id="form">
    @if (Model.CremationDto.Id == 0)
    {
        <h4>@Html.Raw(Resources.Mix.CremationNew)</h4>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.Raw(Resources.Mix.SiteBR)
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(s => s.CremationDto.SiteDtoId, new SelectList(Model.SiteDtos, "Id", "Name"), "請選擇 Please Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(s => s.CremationDto.SiteDtoId)
            </div>
        </div>
    }
    else
    {
        <h4>@Html.Raw(Resources.Mix.CremationEdit)</h4>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.Raw(Resources.Mix.SiteBR)
            </div>
            <div class="col-md-6">
                @Model.CremationDto.SiteDto.Name
            </div>
        </div>
    }

    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.NameBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(s => s.CremationDto.Name, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(s => s.CremationDto.Name)
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.DescriptionBR)
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(s => s.CremationDto.Description, new { @class = "form-control" })
        </div>
    </div>

    @Html.HiddenFor(s => s.CremationDto.Id)
    @Html.HiddenFor(s => s.CremationDto.SiteDtoId)
    <button class="btn btn-primary" id="save">@Html.Raw(Resources.Mix.Save)</button>
</form>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {

            $.validator.addMethod("mustSelect", function (value, element, arg) {
                if (value == "")
                    return false;
                return true;
            }, MEMORIAL_PLEASE_SELECT);

            $("#CremationDto_SiteDtoId").rules("add",
            {
                mustSelect: true
            });

            $('#save').click(function (e) {
                e.preventDefault();
                if ($("#form").valid()) {
                    var vm = {
                        id: $("#CremationDto_Id").val(),
                        siteDtoId: $("#CremationDto_SiteDtoId").val(),
                        name: $("#CremationDto_Name").val(),
                        description: $("#CremationDto_Description").val()
                    };
                    var verb = "";
                    var url = "/api/cremations/mains";
                    if ($("#CremationDto_Id").val() == 0) {
                        verb = "post";
                    }
                    else {
                        verb = "put";
                        url = url + "/" + $("#CremationDto_Id").val();
                    }

                    $.ajax({
                        url: url,
                        method: verb,
                        data: vm
                    })
                    .done(function (data) {
                        toastr.success(MEMORIAL_SUCCESS);
                        if (verb == "post") {
                            setTimeout(function () {
                                window.location.href = window.location.href + '/' + data.id;
                            }, 1000);
                        }
                    })
                    .fail(function () {
                        toastr.error(MEMORIAL_UNEXPECTED_HAPPENED);
                    });

                    return false;
                }
            });

        });</script>
}
