@model Memorial.Core.Dtos.MiscellaneousTransactionDto
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("Index", "ApplicantDeceaseds", new { area = "ApplicantDeceaseds", id = Model.ApplicantDtoId });}

<h2>@Html.Raw(Resources.Mix.Form)</h2>

@using (Html.BeginForm("Save", "RentAirCoolers", new { area = "Miscellaneous" }))
{
    @Model.AF
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.AmountBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @required = Resources.Mix.Required })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.RemarkBR)
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(m => m.Remark, new { @class = "form-control" })
        </div>
    </div>

    @Html.HiddenFor(m => m.MiscellaneousItemDtoId)
    @Html.HiddenFor(m => m.ApplicantDtoId)
    @Html.HiddenFor(m => m.AF)
    <button type="submit" class="btn btn-primary">@Html.Raw(Resources.Mix.Save)</button>
}
