@model Memorial.ViewModels.MiscellaneousItemIndexesViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink(Model.MiscellaneousItemDto.MiscellaneousDto.Name, "Catalog", "Menu", new { siteId = Model.MiscellaneousItemDto.MiscellaneousDto.SiteDto.Id, applicantId = Model.ApplicantId, area = "Menu" }, null)
@Html.ActionLink(Resources.Mix.Miscellaneous, "Index", "Miscellaneous", new { siteId = Model.MiscellaneousItemDto.MiscellaneousDto.SiteDto.Id, applicantId = Model.ApplicantId, area = "Miscellaneous" }, null)

<h2>@Model.MiscellaneousItemDto.SubProductServiceDto.Name</h2>

@if (Model.AllowNew)
{
    <p>
        @Html.ActionLink("New", "Form", new { itemId = Model.MiscellaneousItemDto.Id, applicantId = Model.ApplicantId, area = "Miscellaneous" })
    </p>
}

@using (Html.BeginForm("Index", "RentAirCoolers", new { area = "Miscellaneous" }))
{
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.FindByName)
        </div>
        <div class="col-md-6 input-group">
            @Html.TextBoxFor(f => f.Filter, null, new { @id = "filter", @class = "form-control" })
            <input type="submit" value=@Html.Raw(Resources.Mix.Search) class="btn btn-secondary" />
        </div>
    </div>
    @Html.Hidden("itemId", Model.MiscellaneousItemDto.Id.ToString())
    @Html.Hidden("applicantId", Model.ApplicantId.ToString())
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.AFBR)</th>
            <th>@Html.Raw(Resources.Mix.ItemBR)</th>
            <th>@Html.Raw(Resources.Mix.ApplicantBR)</th>
            <th>@Html.Raw(Resources.Mix.AmountBR)</th>
            <th>@Html.Raw(Resources.Mix.RemarkBR)</th>
            <th>@Html.Raw(Resources.Mix.CreateDateBR)</th>
            <th>@Html.Raw(Resources.Mix.InvoiceBR)</th>
            <th>@Html.Raw(Resources.Mix.EditBR)</th>
            <th>@Html.Raw(Resources.Mix.DeleteBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var miscellaneousTransaction in Model.MiscellaneousTransactionDtos)
        {
            <tr>
                <td>@Html.ActionLink(miscellaneousTransaction.AF, "Info", new { AF = miscellaneousTransaction.AF }, new { target = "MiscellaneousTransactionInfo" })</td>
                <td>@miscellaneousTransaction.MiscellaneousItemDto.SubProductServiceDto.Name</td>
                <td>@miscellaneousTransaction.ApplicantDto.Name &nbsp; @miscellaneousTransaction.ApplicantDto.Name2</td>
                <td>@miscellaneousTransaction.Amount</td>
                <td>@miscellaneousTransaction.Remark</td>
                <td><span data-utcTime="@miscellaneousTransaction.CreatedUtcTime.ToString("yyyy-MM-dd HH:mm")"></span></td>
                <td>@Html.ActionLink(Resources.Mix.Invoice, "Invoices", new { AF = miscellaneousTransaction.AF, area = "Miscellaneous" })</td>
                <td>@Html.ActionLink(Resources.Mix.Edit, "Form", new { AF = miscellaneousTransaction.AF, itemId = miscellaneousTransaction.MiscellaneousItemDtoId, applicantId = Model.ApplicantId, area = "Miscellaneous" })</td>
                <td>
                    @Html.ActionLink(Resources.Mix.Delete, "Delete",
                    new { AF = miscellaneousTransaction.AF, itemId = miscellaneousTransaction.MiscellaneousItemDtoId, applicantId = Model.ApplicantId, area = "Miscellaneous" },
                    new { @class = "btn btn-danger btn-sm", onclick = "return confirm(MEMORIAL_CONFIRM);" })
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.MiscellaneousTransactionDtos.PageCount < Model.MiscellaneousTransactionDtos.PageNumber ? 0 : Model.MiscellaneousTransactionDtos.PageNumber) of @Model.MiscellaneousTransactionDtos.PageCount
@Html.PagedListPager(Model.MiscellaneousTransactionDtos, page => Url.Action("Index",
    new { page, itemId = Model.MiscellaneousItemDto.Id.ToString(), applicantId = Model.ApplicantId.ToString(), filter = ViewBag.CurrentFilter }))


