@model IEnumerable<Memorial.Core.Dtos.RecentDto>

@if (!Model.Any())
{
    @Html.Raw(Resources.Mix.NoRecord)
}

@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>@Html.Raw(Resources.Mix.AFBR)</th>
                <th>@Html.Raw(Resources.Mix.ApplicantBR)</th>
                <th>@Html.Raw(Resources.Mix.ItemBR)</th>
                <th>@Html.Raw(Resources.Mix.SpaceBR)</th>
                <th>@Html.Raw(Resources.Mix.CreateDateBR)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recent in Model)
            {
                <tr>
                    <td>@Html.ActionLink(recent.AF, "Index", recent.LinkController, new { itemId = recent.ItemId, filter = recent.AF, area = recent.LinkArea, applicantId = 0 }, null)</td>
                    <td>@recent.ApplicantName</td>
                    <td>@recent.ItemName</td>
                    <td>@recent.Text1</td>
                    <td><span data-utcTime="@recent.CreatedDate.ToString("yyyy-MM-dd HH:mm")"></span></td>
                </tr>
            }
        </tbody>
    </table>
}