@model Memorial.ViewModels.DeceasedFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Raw(Resources.Mix.NewDeceased)</h2>

@using (Html.BeginForm("Save", "Deceaseds", new { area = "Deceased" }))
{
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.ICBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(d => d.DeceasedDto.IC, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.DeceasedDto.IC)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.EnglishNameBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(d => d.DeceasedDto.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.DeceasedDto.Name)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.ChineseNameBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(d => d.DeceasedDto.Name2, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.DeceasedDto.Name2)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.AgeBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(d => d.DeceasedDto.Age, new { @class = "form-control", type = "number" })
            @Html.ValidationMessageFor(d => d.DeceasedDto.Age)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.AddressBR)
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(d => d.DeceasedDto.Address, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.GenderBR)
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(d => d.DeceasedDto.GenderTypeDtoId, new SelectList(Model.GenderTypeDtos, "Id", "Name"), "請選擇 Please Select", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.MaritalBR)
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(d => d.DeceasedDto.MaritalTypeDtoId, new SelectList(Model.MaritalTypeDtos, "Id", "Name"), "請選擇 Please Select", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.ReligionBR)
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(d => d.DeceasedDto.ReligionTypeDtoId, new SelectList(Model.ReligionTypeDtos, "Id", "Name"), "請選擇 Please Select", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.NationalityBR)
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(d => d.DeceasedDto.NationalityTypeDtoId, new SelectList(Model.NationalityTypeDtos, "Id", "Name"), "請選擇 Please Select", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.DeathDateBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(d => d.DeceasedDto.DeathDate, "{0:yyyy-MM-dd HH:mm}", new { @class = "form-control datetimepicker", @required = Resources.Mix.Required })
            @Html.ValidationMessageFor(d => d.DeceasedDto.DeathDate)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.DeathRegistrationCentreBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(d => d.DeceasedDto.DeathRegistrationCentre, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.DeathCertificateBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(d => d.DeceasedDto.DeathCertificate, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.BurialCertificateBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(d => d.DeceasedDto.BurialCertificate, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.ImportPermitNumberBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(d => d.DeceasedDto.ImportPermitNumber, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.RemarkBR)
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(d => d.DeceasedDto.Remark, new { @class = "form-control" })
        </div>
    </div>

    @Html.HiddenFor(d => d.ApplicantId)
    @Html.HiddenFor(d => d.DeceasedDto.Id)
    <button type="submit" class="btn btn-primary">@Html.Raw(Resources.Mix.Save)</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/jqueryuicss")

    @Scripts.Render("~/bundles/jqueryui-timepicker")
    @Styles.Render("~/Content/jqueryuicss-timepicker")

    <script type="text/javascript">
        $(document).ready(function () {   // will trigger when the document is ready
            $('.datetimepicker').datetimepicker({
                dateFormat: 'yy-mm-dd',
                timeFormat: 'HH:mm',
                useCurrent: true
            }); //Initialise any date pickers
        });
    </script>

}