@model Memorial.ViewModels.DeceasedFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Deceased</h2>

@using (Html.BeginForm("Save", "Deceaseds", new { area = "Deceased" }))
{
    <div class="form-group row">
        <div class="col-md-3">
            IC
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(d => d.DeceasedDto.IC, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.DeceasedDto.IC)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            English Name
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(d => d.DeceasedDto.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.DeceasedDto.Name)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            Chinese Name
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(d => d.DeceasedDto.Name2, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.DeceasedDto.Name2)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            Age
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(d => d.DeceasedDto.Age, new { @class = "form-control", type = "number" })
            @Html.ValidationMessageFor(d => d.DeceasedDto.Age)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            Address
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(d => d.DeceasedDto.Address, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            Gender
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(d => d.DeceasedDto.GenderTypeId, new SelectList(Model.GenderTypeDtos, "Id", "Name"), "Please Select", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            Marital
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(d => d.DeceasedDto.MaritalTypeId, new SelectList(Model.MaritalTypeDtos, "Id", "Name"), "Please Select", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            Religion
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(d => d.DeceasedDto.ReligionTypeId, new SelectList(Model.ReligionTypeDtos, "Id", "Name"), "Please Select", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            Nationality
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(d => d.DeceasedDto.NationalityTypeId, new SelectList(Model.NationalityTypeDtos, "Id", "Name"), "Please Select", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            Death Date
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(d => d.DeceasedDto.DeathDate, "{0:yyyy-MM-dd HH:mm}", new { @class = "form-control datetimepicker", @required = "required" })
            @Html.ValidationMessageFor(d => d.DeceasedDto.DeathDate)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            Death Registration Centre
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(d => d.DeceasedDto.DeathRegistrationCentre, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            Death Certificate
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(d => d.DeceasedDto.DeathCertificate, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            Burial Certificate
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(d => d.DeceasedDto.BurialCertificate, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            Import Permit Number
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(d => d.DeceasedDto.ImportPermitNumber, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            Remark
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(d => d.DeceasedDto.Remark, new { @class = "form-control" })
        </div>
    </div>

    @Html.HiddenFor(d => d.ApplicantId)
    @Html.HiddenFor(d => d.DeceasedDto.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/jqueryuicss")

    @Scripts.Render("~/bundles/jqueryui-timepicker")
    @Styles.Render("~/Content/jqueryuicss-timepicker")

    <script type="text/javascript">
        $(document).ready(function () {   // will trigger when the document is ready
            var dateNow = new Date();
            $('.datetimepicker').datetimepicker({
                dateFormat: 'yy-mm-dd',
                timeFormat: 'HH:mm',
                useCurrent: true,
                defaultDate: dateNow
            }); //Initialise any date pickers
        });
    </script>

}