@model Memorial.ViewModels.CemeteryAreaIndexesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink(Model.SiteDto.Name, "Catalog", "Menu", new { siteId = Model.SiteDto.Id, applicantId = Model.ApplicantId, area = "Menu" }, null) >
@Html.ActionLink(Resources.Mix.Cemetery, "Index", "Cemeteries", new { siteId = Model.SiteDto.Id, applicantId = Model.ApplicantId, area = "Cemetery" }, null)

<h2>@Html.Raw(Resources.Mix.Area)</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.NameBR)</th>
            <th>@Html.Raw(Resources.Mix.DescriptionBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cemeteryArea in Model.CemeteryAreaDtos)
        {
            <tr>
                <td>@Html.ActionLink(cemeteryArea.Name, "Plots", new { areaId = cemeteryArea.Id, applicantId = Model.ApplicantId, area = "Cemetery" })</td>
                <td>@cemeteryArea.Description</td>
            </tr>
        }
    </tbody>
</table>

<h4>@Html.Raw(Resources.Mix.RecentApplicationRecord)</h4>
@{Html.RenderAction("Recent", "Cemeteries", new { area = "Cemetery", siteId = Model.SiteDto.Id, applicantId = Model.ApplicantId });}

