@model Memorial.ViewModels.CemeteryItemsViewModel
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink(Model.CemeteryAreaDto.SiteDto.Name, "Catalog", "Menu", new { siteId = Model.CemeteryAreaDto.SiteDto.Id, applicantId = Model.ApplicantId, area = "Menu" }, null) >
@Html.ActionLink(Resources.Mix.Cemetery, "Index", "Cemeteries", new { siteId = Model.CemeteryAreaDto.SiteDto.Id, applicantId = Model.ApplicantId, area = "Cemetery" }, null) >
@Html.ActionLink(Model.CemeteryAreaDto.Name, "Plots", "Cemeteries", new { areaId = Model.CemeteryAreaDto.Id, applicantId = Model.ApplicantId, area = "Cemetery" }, null) > 
@Html.ActionLink(Model.PlotDto.Name, "Items", "Cemeteries", new { id = Model.PlotDto.Id, applicantId = Model.ApplicantId, area = "Cemetery" }, null)

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.NameBR)</th>
            <th>@Html.Raw(Resources.Mix.DescriptionBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cemeteryItem in Model.CemeteryItemDtos)
        {
            <tr>
                <td>@Html.ActionLink(cemeteryItem.SubProductServiceDto.Name, "Index", cemeteryItem.SubProductServiceDto.SystemCode, new { itemId = cemeteryItem.Id, id = Model.PlotDto.Id, applicantId = Model.ApplicantId, area = "Cemetery" }, null)</td>
                <td>@cemeteryItem.SubProductServiceDto.Description</td>
            </tr>
        }
    </tbody>
</table>