@model Memorial.ViewModels.PlotIndexesViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink(Model.CemeteryAreaDto.SiteDto.Name, "Catalog", "Menu", new { siteId = Model.CemeteryAreaDto.SiteDto.Id, applicantId = Model.ApplicantId, area = "Menu" }, null) >
@Html.ActionLink(Resources.Mix.Cemetery, "Index", "Cemeteries", new { siteId = Model.CemeteryAreaDto.SiteDto.Id, applicantId = Model.ApplicantId, area = "Cemetery" }, null) >
@Html.ActionLink(Model.CemeteryAreaDto.Name, "Plots", "Cemeteries", new { areaId = Model.CemeteryAreaDto.Id, applicantId = Model.ApplicantId, area = "Cemetery" }, null)

<h2>@Html.Raw(Resources.Mix.Plot)</h2>

@using (Html.BeginForm("Plots", "Cemeteries", new { area = "Cemetery" }))
{
    <p>
        Find by Name: @Html.TextBox("filter")
        @Html.Hidden("areaId", Model.AreaId.ToString())
        @Html.Hidden("applicantId", Model.ApplicantId.ToString())
        <br />
        @Html.Raw(Resources.Mix.PlotType): @Html.DropDownList("plotTypeId", new SelectList(Model.PlotTypeDtos, "Id", "Name"), "請選擇 Please Select", new { @class = "form-control" })
        <input type="submit" value=@Html.Raw(Resources.Mix.Search) class="btn btn-secondary" />
    </p>
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.NameBR)</th>
            <th>@Html.Raw(Resources.Mix.DescriptionBR)</th>
            <th>@Html.Raw(Resources.Mix.SizeBR)</th>
            <th>@Html.Raw(Resources.Mix.PriceBR)</th>
            <th>@Html.Raw(Resources.Mix.TypeBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plotDto in Model.PlotDtos)
        {
            <tr>
                <td>@Html.ActionLink(plotDto.Name, "Items", new { id = plotDto.Id, applicantId = Model.ApplicantId, area = "Cemetery" })</td>
                <td>@plotDto.Description</td>
                <td>@plotDto.Size</td>
                <td>@plotDto.Price</td>
                <td>@plotDto.PlotTypeDto.Name</td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.PlotDtos.PageCount < Model.PlotDtos.PageNumber ? 0 : Model.PlotDtos.PageNumber) of @Model.PlotDtos.PageCount
@Html.PagedListPager(Model.PlotDtos, page => Url.Action("Plots",
    new { page, areaId = Model.AreaId.ToString(), plotTypeId = Model.SelectedPlotTypeId, applicantId = Model.ApplicantId.ToString(), filter = ViewBag.CurrentFilter }))