@model Memorial.ViewModels.QuadrangleTransactionsFormViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("ApplicantBrief", "Applicants", new { id = Model.QuadrangleTransactionDto.ApplicantId });}

<h2>Form</h2>

@using (Html.BeginForm("Save", "Transfer", new { area = "Quadrangle" }))
{
    @Html.DisplayTextFor(a=>a.QuadrangleTransactionDto.AF)

    <div class="form-group row">
        <div class="col-md-3">
            Owner
        </div>
        <div class="col-md-6">
            @Model.QuadrangleTransactionDto.Quadrangle.Applicant.Name &nbsp;
            @Model.QuadrangleTransactionDto.Quadrangle.Applicant.Name2
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-9">
            Transfer To
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            New applicant
        </div>
        <div class="col-md-6">
            @Model.QuadrangleTransactionDto.Applicant.Name &nbsp;
            @Model.QuadrangleTransactionDto.Applicant.Name2
            @Html.ValidationMessageFor(a => a.QuadrangleTransactionDto.Applicant.Name)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            Price
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.QuadrangleTransactionDto.Price, new { @class = "form-control", @required = "required" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            Remark
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(c => c.QuadrangleTransactionDto.Remark, new { @class = "form-control" })
        </div>
    </div>

    @Html.HiddenFor(c => c.QuadrangleTransactionDto.QuadrangleItemId)
    @Html.HiddenFor(c => c.QuadrangleTransactionDto.QuadrangleId)
    @Html.HiddenFor(c => c.QuadrangleTransactionDto.ApplicantId)
    @Html.HiddenFor(c => c.QuadrangleTransactionDto.AF)
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/jqueryuicss")

}
