@model Memorial.ViewModels.QuadrangleInfoViewModel

<div class="form-group row">
    <div class="col-md-2 font-weight-bold">
        Site
    </div>
    <div class="col-md-2">
        @Model.SiteDto.Name
    </div>
    <div class="col-md-2 font-weight-bold">
        Centre
    </div>
    <div class="col-md-2">
        @Model.QuadrangleCentreDto.Name
    </div>
    <div class="col-md-2 font-weight-bold">
        Area
    </div>
    <div class="col-md-2">
        @Model.QuadrangleAreaDto.Name
    </div>
</div>
<div class="form-group row">
    <div class="col-md-2 font-weight-bold">
        Name
    </div>
    <div class="col-md-2">
        @Model.QuadrangleDto.Name
    </div>
    <div class="col-md-2 font-weight-bold">
        Description
    </div>
    <div class="col-md-2">
        @Model.QuadrangleDto.Description
    </div>
    <div class="col-md-2 font-weight-bold">
        Type
    </div>
    <div class="col-md-2">
        @Model.QuadrangleDto.QuadrangleTypeDto.Name
    </div>
</div>
<div class="form-group row">
    <div class="col-md-2 font-weight-bold">
        Price
    </div>
    <div class="col-md-2">
        @Model.QuadrangleDto.Price
    </div>
    <div class="col-md-2 font-weight-bold">
        Maintenance
    </div>
    <div class="col-md-2">
        @Model.QuadrangleDto.Maintenance
    </div>
    <div class="col-md-2 font-weight-bold">
        LifeTime Maintenance
    </div>
    <div class="col-md-2">
        @Model.QuadrangleDto.LifeTimeMaintenance
    </div>
</div>
<div class="form-group row">
    <div class="col-md-2 font-weight-bold">
        Position X
    </div>
    <div class="col-md-2">
        @Model.QuadrangleDto.PositionX
    </div>
    <div class="col-md-2 font-weight-bold">
        Position Y
    </div>
    <div class="col-md-2">
        @Model.QuadrangleDto.PositionY
    </div>
    <div class="col-md-2 font-weight-bold">
        Remark
    </div>
    <div class="col-md-2">
        @Model.QuadrangleDto.Remark
    </div>
</div>
<hr />
<h5>Owner</h5>
@if (Model.ApplicantDto == null)
{
    <div>no owner</div>
}
else
{
    <div class="form-group row">
        <div class="col-md-3">
            English Name
        </div>
        <div class="col-md-3">
            @Html.ActionLink(Model.ApplicantDto.Name, "Info", "Applicants", new { id = Model.ApplicantDto.Id }, null)
        </div>
        <div class="col-md-3">
            Chinese Name
        </div>
        <div class="col-md-3">
            @Model.ApplicantDto.Name2
        </div>
    </div>
    if (Model.NumberOfPlacements == 1)
    {
        <h5>Deceased</h5>
    }
    else
    {
        <h5>Deceased1</h5>
    }
    if (Model.DeceasedFlatten1Dto == null)
    {
        <div>no deceased</div>
    }
    else
    {
        <div class="form-group row">
            <div class="col-md-1">
                English Name
            </div>
            <div class="col-md-2">
                @Html.ActionLink(Model.DeceasedFlatten1Dto.DeceasedName, "Info", "Deceaseds", new { id = Model.DeceasedFlatten1Dto.DeceasedId }, null)
            </div>
            <div class="col-md-1">
                Chinese Name
            </div>
            <div class="col-md-2">
                @Model.DeceasedFlatten1Dto.DeceasedName2
            </div>
            <div class="col-md-2">
                Relationship
            </div>
            <div class="col-md-2">
                @Model.DeceasedFlatten1Dto.RelationshipTypeName
            </div>
        </div>
    }
    if (Model.NumberOfPlacements == 2)
    {
        <h5>Deceased2</h5>
        if (Model.DeceasedFlatten2Dto == null)
        {
            <div>no deceased</div>
        }
        else
        {
            <div class="form-group row">
                <div class="col-md-1">
                    English Name
                </div>
                <div class="col-md-1">
                    @Html.ActionLink(Model.DeceasedFlatten2Dto.DeceasedName, "Info", "Deceaseds", new { id = Model.DeceasedFlatten2Dto.DeceasedId }, null)
                </div>
                <div class="col-md-2">
                    Chinese Name
                </div>
                <div class="col-md-2">
                    @Model.DeceasedFlatten2Dto.DeceasedName2
                </div>
                <div class="col-md-2">
                    Relationship
                </div>
                <div class="col-md-2">
                    @Model.DeceasedFlatten2Dto.RelationshipTypeName
                </div>
            </div>
        }
    }
    <div class="form-group row">
        <div class="col-md-3">
            @Html.ActionLink("Install/Remove", "Index", "QuadrangleDeceaseds", new { id = Model.QuadrangleDto.Id }, null)
        </div>
    </div>
}