@model Memorial.ViewModels.FuneralCompanyFormViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="form">
    @if (Model.FuneralCompanyDto.Id == 0)
    {
        <h2>@Html.Raw(Resources.Mix.FuneralCompanyNew)</h2>
    }
    else
    {
        <h2>@Html.Raw(Resources.Mix.FuneralCompanyEdit)</h2>
    }

    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.NameBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(s => s.FuneralCompanyDto.Name, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(s => s.FuneralCompanyDto.Name)
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.ContactNameBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(s => s.FuneralCompanyDto.ContactPerson, new { @class = "form-control" })
            @Html.ValidationMessageFor(s => s.FuneralCompanyDto.ContactPerson)
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.ContactNumberBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(s => s.FuneralCompanyDto.ContactNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(s => s.FuneralCompanyDto.ContactNumber)
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            @Html.Raw(Resources.Mix.RemarkBR)
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(s => s.FuneralCompanyDto.Remark, new { @class = "form-control" })
            @Html.ValidationMessageFor(s => s.FuneralCompanyDto.Remark)
        </div>
    </div>

    @Html.HiddenFor(s => s.FuneralCompanyDto.Id)
    <button class="btn btn-primary" id="save">@Html.Raw(Resources.Mix.Save)</button>
</form>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {

            $('#save').click(function (e) {
                e.preventDefault();
                if ($("#form").valid()) {
                    var vm = {
                        id: $("#FuneralCompanyDto_Id").val(),
                        name: $("#FuneralCompanyDto_Name").val(),
                        contactPerson: $("#FuneralCompanyDto_ContactPerson").val(),
                        contactNumber: $("#FuneralCompanyDto_ContactNumber").val(),
                        remark: $("#FuneralCompanyDto_Remark").val()
                    };
                    var verb = "";
                    var url = "/api/funeralcompanies";
                    if ($("#FuneralCompanyDto_Id").val() == 0) {
                        verb = "post";
                    }
                    else {
                        verb = "put";
                        url = url + "/" + $("#FuneralCompanyDto_Id").val();
                    }

                    $.ajax({
                        url: url,
                        method: verb,
                        data: vm
                    })
                    .done(function (data) {
                        toastr.success(MEMORIAL_SUCCESS);
                        if (verb == "post") {
                            setTimeout(function () {
                                window.location.href = window.location.href + '/' + data.id;
                            }, 1000);
                        }
                    })
                    .fail(function () {
                        toastr.error(MEMORIAL_UNEXPECTED_HAPPENED);
                    });

                    return false;
                }
            });

        });</script>
}
