@model Memorial.ViewModels.InvoicesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Raw(Resources.Mix.Invoices)</h2>

<p>
    @Html.ActionLink(Resources.Mix.New, "Form", new { AF = Model.AF, area = "Cemetery" })
</p>
<h5>@Html.Raw(Resources.Mix.Form): @Model.AF</h5>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.InvoiceBR)</th>
            <th>@Html.Raw(Resources.Mix.RemarkBR)</th>
            <th>@Html.Raw(Resources.Mix.AmountBR)</th>
            <th>@Html.Raw(Resources.Mix.PaidBR)</th>
            <th>@Html.Raw(Resources.Mix.CreateDateBR)</th>
            <th>@Html.Raw(Resources.Mix.ReceiptIssuedBR)</th>
            <th>@Html.Raw(Resources.Mix.ReceiptBR)</th>
            <th>@Html.Raw(Resources.Mix.EditBR)</th>
            <th>@Html.Raw(Resources.Mix.DeleteBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invoice in Model.InvoiceDtos)
        {
        <tr>
            <td>@Html.ActionLink(invoice.IV, "Info", new { IV = invoice.IV, area = "Cemetery" })</td>
            <td>@invoice.Remark</td>
            <td>@invoice.Amount</td>
            <td>@invoice.isPaid</td>
            <td><span data-utcTime="@invoice.CreatedUtcTime.ToString("yyyy-MM-dd HH:mm")"></span></td>
            <td>@invoice.hasReceipt</td>
            <td>@Html.ActionLink(Resources.Mix.Receipt, "Receipt", new { IV = invoice.IV, area = "Cemetery" })</td>
            <td>@Html.ActionLink(Resources.Mix.Edit, "Form", new { IV = invoice.IV, AF = Model.AF, area = "Cemetery" })</td>
            <td>@Html.ActionLink(Resources.Mix.Delete, "Delete", new { IV = invoice.IV, AF = Model.AF, area = "Cemetery" }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm(MEMORIAL_CONFIRM);" })</td>
        </tr>
        }
    </tbody>
</table>

